<div class="field {{ field_unique_class }} {{ field_classes }}"{{ field_attributes }}>
  {{^ field_label_hidden? }}
    <div class="field-label"{{ field_title_attributes }}>{{{ field_label }}}:&nbsp;</div>
  {{/ field_label_hidden? }}
  <div class="field-items"{{ field_content_attributes }}>
