<div class="{{ field_classes }}">
  <picture class="picture-format-image-{{ field_item_id }}" data-item-id="{{ field_item_id }}">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{{ format_image_large }}" media="(min-width: {{ bp_lg }}px)">
    <source srcset="{{ format_image_medium }}" media="(min-width: {{ bp_md }}px)">
    <source srcset="{{ format_image_small }}" media="(min-width: {{ bp_sm }}px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="{{ format_image_large }}" alt="{{ format_image_alt_text }}" title="{{ format_image_title_text }}">
  </picture>
</div>
