{{> 03-templates/views/__views-view-prefix.mustache }}

  {{!///////////////////////////////////////////////////////////////////////////
  /// HEADERS START //////////////////////////////////////////////////////////}}

  {{# views_view_header? }}
    <div class="view-header">
      {{{ views_view_header }}}

      {{# faq_view? }}
        {{# faq_view_header }}
          {{> 03-templates/views/views-view(faq_view_header\?: true) }}
        {{/ faq_view_header }}
      {{/ faq_view? }}

      {{# faq_view_header? }}
        {{{ faq_view_header_header }}}
      {{/ faq_view_header? }}

    </div>
  {{/ views_view_header? }}

  {{! HEADERS END //////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// FILTERS START //////////////////////////////////////////////////////////}}

  {{# views_view_exposed? }}
    <div class="view-filters">
      {{{ views_view_exposed }}}

      {{# titles_listing? }}
        {{> 01-molecules/listing-items/titles-listing-filters }}
      {{/ titles_listing? }}
    </div>
  {{/ views_view_exposed? }}

  {{! FILTERS END //////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{# views_view_attachment_before? }}
    <div class="attachment attachment-before">
      {{{ views_view_attachment_before }}}
    </div>
  {{/ views_view_attachment_before? }}



  {{!///////////////////////////////////////////////////////////////////////////
  /// ROWS START /////////////////////////////////////////////////////////////}}

  {{# views_view_rows? }}
    <div class="view-content">  

      {{# 03_views_views_view? }}
        {{{ template_content }}}
      {{/ 03_views_views_view? }}

      {{# dynamic_leads? }}
        {{> 03-templates/_nosync/views/_views-view~dynamic-leads }}
      {{/ dynamic_leads? }}

      {{# faq_view? }}
        {{> 01-molecules/faq/faq-view-content }}
      {{/ faq_view? }}

      {{# faq_view_header? }}
        {{> 01-molecules/faq/faq-view-header }}
      {{/ faq_view_header? }}

      {{# media_strip_recent_videos? }}
        {{> 03-templates/_nosync/views/_views-view~media-strip-recent-videos }}
      {{/ media_strip_recent_videos? }}

      {{# social_poll? }}
        {{> 02-organisms/social/_social-poll~plugin }}
      {{/ social_poll? }}

      {{# social_freeform? }}
        {{> 02-organisms/social/_social-freeform~plugin }}
      {{/ social_freeform? }}

      {{# social_quiz? }}
        {{> 02-organisms/social/_social-quiz~plugin }}
      {{/ social_quiz? }}

      {{# titles_listing? }}
        {{# titles_listing_rows }}
          {{> 01-molecules/listing-items/titles-item }}
        {{/ titles_listing_rows }}
      {{/ titles_listing? }}

    </div>
  {{/ views_view_rows? }}

  {{! ROWS END /////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{# views_view_empty? }}
    <div class="view-empty">
      {{{ views_view_empty }}}
    </div>
  {{/ views_view_empty? }}



  {{!///////////////////////////////////////////////////////////////////////////
  /// PAGERS START ///////////////////////////////////////////////////////////}}

  {{# views_view_pager? }}
    {{{ views_view_pager }}}

    {{# titles_listing? }}
      {{> 01-molecules/components/pager }}
    {{/ titles_listing? }}
  {{/ views_view_pager? }}

  {{! PAGERS END ///////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{# views_view_attachment_after? }}
    <div class="attachment attachment-after">
      {{{ views_view_attachment_after }}}
    </div>
  {{/ views_view_attachment_after? }}

  {{# views_view_more? }}
    {{{ views_view_more }}}
  {{/ views_view_more? }}



  {{!///////////////////////////////////////////////////////////////////////////
  /// FOOTER START ///////////////////////////////////////////////////////////}}

  {{# views_view_footer? }}
    <div class="view-footer">
      {{{ views_view_footer }}}

      {{# faq_view? }}
        {{> 01-molecules/faq/faq-view-footer }}
      {{/ faq_view? }}
    </div>
  {{/ views_view_footer? }}

  {{! FOOTER END ///////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}

{{> 03-templates/views/__views-view-suffix.mustache }}
