{{> 03-templates/field/_field--field-format-image-2d }}
<a href="#">{{movie_title}}</a>
{{# has_buy_button? }}
  {{# format_blu_ray }}
    {{> 01-molecules/sections/title-buy-now-single }}
  {{/ format_blu_ray }}
{{/ has_buy_button? }}
