<div class="panel-pane pane-entity-field pane-node-field-you-may-also-like">
  <header>
    <h2 class="pane-title">You May Also Like</h2>
  </header>
  {{> 02-organisms/sliders/_titles-strip~slider }}
</div>
