<h2 class="faq-topic">What is Digital HD with UltraViolet™?</h2>
<div class="uv-education__top">
  <p>DIGITAL HD with UltraViolet™ is the <strong>all-new way</strong> to collect and access your movies and TV shows in the cloud. You can now watch movies anywhere on your favorite devices!</p>
  <div class="bg-diagonal-gradient clearfix">
    <div class="bg-horizontal-gradient"></div>
    <picture class="devices">
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/sites/all/themes/aurora/images/uv-education-devices-484.png" media="(min-width: 955px)">
      <source srcset="/sites/all/themes/aurora/images/uv-education-devices-300.png" media="(min-width: 0px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/sites/all/themes/aurora/images/uv-education-devices-484.png">
    </picture>
    <ul class="violet bulletin">
      <li><span class="black">Digital HD with UltraViolet™ lets you watch your movies anytime, anywhere</span></li>
      <li><span class="black">Your UltraViolet™ account is FREE</span></li>
      <li><span class="black">Download and play your Digital HD with UltraViolet™ movies on any device through your favorite retailer</span></li>
    </ul>
    <div class="bg-white-bottom"></div>
  </div>
  <picture class="dhd-banner">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="/sites/all/themes/aurora/images/uv-education-dhd-banner-860.jpg" media="(min-width: 955px)">
    <source srcset="/sites/all/themes/aurora/images/uv-education-dhd-banner-690.jpg" media="(min-width: 721px)">
    <source srcset="/sites/all/themes/aurora/images/uv-education-dhd-banner-720.jpg" media="(min-width: 0px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/sites/all/themes/aurora/images/uv-education-dhd-banner-860.jpg">
  </picture>
</div>
<div class="uv-education__middle">
  <h3 class="violet-bg-header">WATCH IN 3 EASY STEPS!</h3>
  <h4 class="small-dark-bold">Your account is free to set up and easy to use. Just follow these 3 steps:</h4>
  <div class="zebra odd">
    <div class="violet-bg-number"><span>1</span></div>
    <p>Look for <img class="ultraviolet-tm" src="/sites/all/themes/aurora/images/uv-education-ultraviolet-tm.png"> whenever you buy a Blu-ray™ or from select retailers.</p>
    <p class="violet italic addition-margin">Find a FREE app for your favorite device. See retailer sites for more information.</p>
  </div>
  <div class="zebra even">
    <div class="violet-bg-number"><span>2</span></div>
    <p>Link your UltraViolet™ account to the online retailer of your choice.</p>
    <p class="violet italic addition-margin">Your movies & TV shows will automatically be synched so you can access them anywhere.*</p>
  </div>
  <div class="zebra odd">
    <div class="violet-bg-number"><span>3</span></div>
    <p>Start downloading and streaming instantly on your favorite device!</p>
    <p class="violet italic addition-margin">Including HDTVs, Blu-ray™ players, gaming consoles, computers, mobile phones and tablets.</p>
  </div>
  <p class="help italic">*Need help finding your UltraViolet™ username and password? Visit <a href="https://www.myuv.com">myuv.com</a> for tools to help you manage your account.</p>
</div>
<div class="uv-education__bottom">
  <h3 class="violet-bg-header">WATCH ON iTUNES</h3>
  <h5 class="large-info">also includes <img class="itunes" src="/sites/all/themes/aurora/images/uv-education-itunes.png"></h5>
  <p>Redeem a copy of your movie through iTunes to enjoy it on your<br>
  Mac, PC, iPad®, iPhone®, iPod touch®, and Apple TV</p>
  <h5 class="violet large-info">NEED MORE HELP?</h5>
  <a class="violet-button" href="/faq/digital-hd-with-ultraviolet-faqs">VISIT ULTRAVIOLET™ FAQs</a>
</div>
