{{> 03-templates/system/page(04_social_page\?: true) }}

{{! Restrict crapware to only the page that needs it! }}
<script type="text/javascript" src="//apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="//secure.assets.tumblr.com/post.js"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="../../js/youtubechannel_override.js?{{ cacheBuster }}"></script>
