<div class="media-strip--content">
  <div class="content">
    {{#play_icon}}
      {{#cbox}}
        <a href="#" class="iframe" data-src="{{video_src}}">
      {{/cbox}}
      {{^cbox}}
        <a href="#">
      {{/cbox}}
    {{/play_icon}}
    {{^play_icon}}
      {{#cbox}}
        <a href="{{photo_src}}">
      {{/cbox}}
      {{^cbox}}
        <a href="#">
      {{/cbox}}
    {{/play_icon}}
      <img src="{{img_src}}" class="media-strip--image" />
      {{#play_icon}}
        <i class="icon-play"></i>
      {{/play_icon}}
    </a>
    <div class="media-strip--title">
      {{#video_title}}
        <h3><a href="#">{{title_label}}</a></h3>
      {{/video_title}}
      <h4 class="ellipsis">
        <a href="#">{{video_label}}</a>
      </h4>
    </div>
  </div>
</div>
