{{# has_content? }}
  {{> 03-templates/system/__region-prefix.mustache }}

    {{# 02_global_header? }}
      {{> 00-atoms/04-images/00-logo.mustache }}
      {{# 01_navigation_nav_toggle }}
        {{> 03-templates/block/block(01_navigation_nav_toggle\?: true) }}
      {{/ 01_navigation_nav_toggle }}
      {{# has_user_menu? }}
        {{# 01_components_user_menu }}
          {{> 03-templates/block/block(01_components_user_menu\?: true) }}
        {{/ 01_components_user_menu }}
      {{/ has_user_menu? }}
      {{# 01_forms_search }}
        {{> 03-templates/block/block(01_forms_search\?: true) }}
      {{/ 01_forms_search }}
      {{# 02_global_main_menu }}
        {{> 03-templates/block/block(02_global_main_menu\?: true) }}
      {{/ 02_global_main_menu }}
    {{/ 02_global_header? }}

    {{# 03_system_region? }}
      {{{ template_content }}}
    {{/ 03_system_region? }}    

    {{# 04_contact_us? }}
      {{> 03-templates/block/block(04_contact_us\?: true) }}
    {{/ 04_contact_us? }}

    {{# 04_contact_us_submit? }}
      {{> 03-templates/block/block(04_contact_us_submit\?: true) }}
    {{/ 04_contact_us_submit? }}    

    {{# 04_education? }}
      {{> 03-templates/block/block(04_education\?: true) }}
    {{/ 04_education? }}

    {{# 04_error_404? }}
      {{> 03-templates/block/block(04_error_404\?: true) }}
    {{/ 04_error_404? }}

    {{# 04_faq? }}
      {{# 04_faq_menu? }}
        {{# 02_global_header_faq_menu }}
          {{> 03-templates/block/block(02_global_header_faq_menu\?: true) }}
        {{/ 02_global_header_faq_menu }}
      {{/ 04_faq_menu? }}
      {{> 03-templates/block/block(04_faq\?: true) }}
    {{/ 04_faq? }}

    {{# 04_homepage? }}
      {{> 03-templates/block/block(04_homepage\?: true) }}
    {{/ 04_homepage? }}

    {{# 04_news_signup_success? }}
      {{> 03-templates/block/block(04_news_signup_success\?: true) }}
    {{/ 04_news_signup_success? }}

    {{# 04_newsletter? }}
      {{> 03-templates/block/block(04_newsletter\?: true) }}
    {{/ 04_newsletter? }}

    {{# 04_offers? }}
      {{# 04_offers_threecol_hero? }}
        {{> 03-templates/block/block(04_offers_threecol_hero\?: true) }}
      {{/ 04_offers_threecol_hero? }}
      {{# 04_offers_art_left? }}
        {{> 03-templates/block/block(04_offers_art_left\?: true) }}
      {{/ 04_offers_art_left? }}
      {{# 04_offers_art_right? }}
        {{> 03-templates/block/block(04_offers_art_right\?: true) }}
      {{/ 04_offers_art_right? }}
      {{# 04_offers_full_art? }}
        {{> 03-templates/block/block(04_offers_full_art\?: true) }}
      {{/ 04_offers_full_art? }}
      {{# 04_offers_gridspan? }}
        {{> 03-templates/block/block(04_offers_gridspan\?: true) }}
      {{/ 04_offers_gridspan? }}
    {{/ 04_offers? }}

    {{# 04_search_results? }}
      {{> 03-templates/block/block(04_search_results\?: true) }}
    {{/ 04_search_results? }}

    {{# 04_social_page? }}
      {{> 03-templates/block/block(04_social_page\?: true) }}
    {{/ 04_social_page? }}

    {{# 04_static_page? }}
      {{> 03-templates/block/block(04_static_page\?: true) }}
    {{/ 04_static_page? }}

    {{# 04_title_detail? }}
      {{> 03-templates/block/block(04_title_detail\?: true) }}
    {{/ 04_title_detail? }}

    {{# 04_titles_listing_landing? }}
      {{> 03-templates/block/block(04_titles_listing_landing\?: true) }}
    {{/ 04_titles_listing_landing? }}

    {{# 04_video_page? }}
      {{> 03-templates/block/block(04_video_page\?: true) }}
    {{/ 04_video_page? }}

    {{# 02_global_footer_prefix? }}
      {{> 03-templates/_nosync/block/_block~footer-ad }}
    {{/ 02_global_footer_prefix? }}

    {{# 02_global_footer_main? }}
      {{> 02-organisms/00-global/_01-footer~footer-menu }}
    {{/ 02_global_footer_main? }}

    {{# 02_global_footer_suffix? }}
      {{> 03-templates/_nosync/block/_block~copyright }}
    {{/ 02_global_footer_suffix? }}

  {{> 03-templates/system/__region-suffix.mustache }}
{{/ has_content? }}
