<div class="facebook-stream facebook-stream--sm">
  <iframe
    src="//www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FxRlIuTsSMoE.js%3Fversion%3D41%23cb%3Df18b425723b1f0a%26domain%3Dlocalhost.localdomain%26origin%3D%252F%252Flocalhost.localdomain%252Ff235bb648c8c584%26relation%3Dparent.parent&amp;container_width=320&amp;height=2500&amp;hide_cover=false&amp;href=https%3A%2F%2Flocalhost.localdomain&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=true&amp;width=320"
    scrolling="no"
    allowfullscreen="true"
    allowtransparency="true"
    frameborder="0"
    height="2500px"
    width="320px">
  </iframe>
</div>
<div class="facebook-stream facebook-stream--md">
  <iframe
    src="//www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FxRlIuTsSMoE.js%3Fversion%3D41%23cb%3Df18b425723b1f0a%26domain%3Dlocalhost.localdomain%26origin%3D%252F%252Flocalhost.localdomain%252Ff235bb648c8c584%26relation%3Dparent.parent&amp;container_width=380&amp;height=2600&amp;hide_cover=false&amp;href=https%3A%2F%2Flocalhost.localdomain&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=true&amp;width=380"
    scrolling="no"
    allowfullscreen="true"
    allowtransparency="true"
    frameborder="0"
    height="2600px"
    width="380px">
  </iframe>
</div>
<div class="facebook-stream facebook-stream--lg facebook-stream--lg-touch">
  <iframe
    src="//www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FxRlIuTsSMoE.js%3Fversion%3D41%23cb%3Df18b425723b1f0a%26domain%3Dlocalhost.localdomain%26origin%3D%252F%252Flocalhost.localdomain%252Ff235bb648c8c584%26relation%3Dparent.parent&amp;container_width=500&amp;height=3000&amp;hide_cover=false&amp;href=https%3A%2F%2Flocalhost.localdomain&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=true&amp;width=500"
    scrolling="no"
    allowfullscreen="true"
    allowtransparency="true"
    frameborder="0"
    height="3000px"
    width="500px">
  </iframe>
</div>
<div class="facebook-stream facebook-stream--lg facebook-stream--lg-no-touch">
  <iframe
    src="//www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FxRlIuTsSMoE.js%3Fversion%3D41%23cb%3Df18b425723b1f0a%26domain%3Dlocalhost.localdomain%26origin%3D%252F%252Flocalhost.localdomain%252Ff235bb648c8c584%26relation%3Dparent.parent&amp;container_width=500&amp;height=510&amp;hide_cover=false&amp;href=https%3A%2F%2Flocalhost.localdomain&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=true&amp;width=500"
    scrolling="no"
    allowfullscreen="true"
    allowtransparency="true"
    frameborder="0"
    height="510px"
    width="500px">
  </iframe>
</div>
