<h3>Subscribe to our YouTube page</h3>
<div class="youtubechannel-video-list">
  <div class="youtubechannel-container" style="width: 410px;">
    <div id="youtubechannel-player-0" style="width: 410px; height: 260px;">
      <iframe id="youtubechannel-frame-0" title="Youtube Video Player" src="" allowfullscreen="" frameborder="0" height="260" width="410"></iframe>
    </div>
    <div id="youtubechannel-video-title-0">
      <p>R.L. Stine’s Monsterville: Cabinet of Souls - Trailer - Own it on DVD 9/29</p>
    </div>
  </div>
  <div class="youtubechannel-container" style="width: 410px;">
    <div id="youtubechannel-player-1" style="width: 410px; height: 260px;">
      <iframe id="youtubechannel-frame-1" title="Youtube Video Player" src="" allowfullscreen="" frameborder="0" height="260" width="410"></iframe>
    </div>
    <div id="youtubechannel-video-title-1">
      <p>Monster High: Scaris, City of Frights - Trailer - Own It Now</p>
    </div>
  </div>
  <div class="youtubechannel-container" style="width: 410px;">
    <div id="youtubechannel-player-2" style="width: 410px; height: 260px;">
      <iframe id="youtubechannel-frame-2" title="Youtube Video Player" src="" allowfullscreen="" frameborder="0" height="260" width="410"></iframe>
    </div>
    <div id="youtubechannel-video-title-2">
      <p>Danny Collins - Trailer - Own It Now on Blu-ray</p>
    </div>
  </div>
  <div class="youtubechannel-container" style="width: 410px;">
    <div id="youtubechannel-player-3" style="width: 410px; height: 260px;">
      <iframe id="youtubechannel-frame-3" title="Youtube Video Player" src="" allowfullscreen="" frameborder="0" height="260" width="410"></iframe>
    </div>
    <div id="youtubechannel-video-title-3">
      <p>A Little Chaos - Trailer - Own it on Blu-ray 8/4</p>
    </div>
  </div>
</div>
<div id="youtubechannel-list" style="width: 410px; height: 140px;">
  <ul>
    <li><a href="#KsgZu9ST-50"><img src="https://i.ytimg.com/vi/KsgZu9ST-50/default.jpg" alt="R.L. Stine’s Monsterville: Cabinet of Souls - Trailer - Own it on DVD 9/29" title="R.L. Stine’s Monsterville: Cabinet of Souls - Trailer - Own it on DVD 9/29"></a></li>
    <li><a href="#mZ-JQD67ypk"><img src="https://i.ytimg.com/vi/mZ-JQD67ypk/default.jpg" alt="Monster High: Scaris, City of Frights - Trailer - Own It Now" title="Monster High: Scaris, City of Frights - Trailer - Own It Now"></a></li>
    <li><a href="#Uzc-YB2jkSc"><img src="https://i.ytimg.com/vi/Uzc-YB2jkSc/default.jpg" alt="Danny Collins - Trailer - Own It Now on Blu-ray" title="Danny Collins - Trailer - Own It Now on Blu-ray"></a></li>
    <li><a href="#Yq-ELTtXbB8"><img src="https://i.ytimg.com/vi/Yq-ELTtXbB8/default.jpg" alt="A Little Chaos - Trailer - Own it on Blu-ray 8/4" title="A Little Chaos - Trailer - Own it on Blu-ray 8/4"></a></li>
  </ul>
</div>
