<div class="form-item form-type-textfield form-item-search-api-views-fulltext" role="application">
  <input placeholder="Search &amp; Discover" class="form-search auto_submit form-text form-autocomplete" type="text" id="edit-search-api-views-fulltext" name="search_api_views_fulltext" value="" size="30" maxlength="128" autocomplete="OFF" aria-autocomplete="list">
  <input type="hidden" id="edit-search-api-views-fulltext-autocomplete" value="" disabled="disabled" class="autocomplete autocomplete-processed">
  <span class="element-invisible" aria-live="assertive" id="edit-search-api-views-fulltext-autocomplete-aria-live"></span>
</div>
