{{> 03-templates/file/__file_entity-prefix.mustache }}

  <picture class="picture-media-pane offer-610x400-hero">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{{ format_image_large }}" media="(min-width: {{ bp_lg }}px)">
    <source srcset="{{ format_image_medium }}" media="(min-width: {{ bp_md }}px)">
    <source srcset="{{ format_image_small }}" media="(min-width: {{ bp_sm }}px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="{{ format_image_large }}" alt="{{ format_image_alt_text }}" title="{{ format_image_title_text }}">
  </picture>

{{> 03-templates/file/__file_entity-suffix.mustache }}
