<div class="form-item form-type-select form-item-field-rating-value">
  <div class="form-checkboxes bef-select-as-checkboxes">
    <a class="bef-toggle" href="#">Select All</a>
    <div class="bef-checkboxes">
      <div class="form-item form-type-bef-checkbox form-item-edit-field-rating-value-g">
        <input type="checkbox" name="field_rating_value[]" id="edit-field-rating-value-g" value="G">
        <label class="option" for="edit-field-rating-value-g">G</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-rating-value-pg">
        <input type="checkbox" name="field_rating_value[]" id="edit-field-rating-value-pg" value="PG">
        <label class="option" for="edit-field-rating-value-pg">PG</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-rating-value-pg-13">
        <input type="checkbox" name="field_rating_value[]" id="edit-field-rating-value-pg-13" value="PG-13">
        <label class="option" for="edit-field-rating-value-pg-13">PG-13</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-rating-value-r">
        <input type="checkbox" name="field_rating_value[]" id="edit-field-rating-value-r" value="R">
        <label class="option" for="edit-field-rating-value-r">R</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-rating-value-nc-17">
        <input type="checkbox" name="field_rating_value[]" id="edit-field-rating-value-nc-17" value="NC-17">
        <label class="option" for="edit-field-rating-value-nc-17">NC-17</label>
      </div>
    </div>
  </div>
</div>
{{> molecules-close-icon}}
