<div class="form-item form-type-select form-item-field-genre-tid">
  <div class="form-checkboxes bef-select-as-checkboxes">
    <a class="bef-toggle" href="#">Select All</a>
    <div class="bef-checkboxes">
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-316">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-316" value="316">
        <label class="option" for="edit-field-genre-tid-316">Action</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-311">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-311" value="311">
        <label class="option" for="edit-field-genre-tid-311">Adventure</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-301">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-301" value="301">
        <label class="option" for="edit-field-genre-tid-301">Animated</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-411">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-411" value="411">
        <label class="option" for="edit-field-genre-tid-411">Anime</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-281">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-281" value="281">
        <label class="option" for="edit-field-genre-tid-281">Comedy</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-366">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-366" value="366">
        <label class="option" for="edit-field-genre-tid-366">Dark Comedy</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-296">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-296" value="296">
        <label class="option" for="edit-field-genre-tid-296">Documentary</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-261">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-261" value="261">
        <label class="option" for="edit-field-genre-tid-261">Drama</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-306">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-306" value="306">
        <label class="option" for="edit-field-genre-tid-306">Family</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-331">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-331" value="331">
        <label class="option" for="edit-field-genre-tid-331">Fantasy</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-381">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-381" value="381">
        <label class="option" for="edit-field-genre-tid-381">Film Noir</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-386">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-386" value="386">
        <label class="option" for="edit-field-genre-tid-386">Fitness</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-396">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-396" value="396">
        <label class="option" for="edit-field-genre-tid-396">Foreign</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-371">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-371" value="371">
        <label class="option" for="edit-field-genre-tid-371">Holiday</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-376">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-376" value="376">
        <label class="option" for="edit-field-genre-tid-376">Horror</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-291">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-291" value="291">
        <label class="option" for="edit-field-genre-tid-291">Musical</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-356">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-356" value="356">
        <label class="option" for="edit-field-genre-tid-356">Mystery</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-401">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-401" value="401">
        <label class="option" for="edit-field-genre-tid-401">Performance</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-346">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-346" value="346">
        <label class="option" for="edit-field-genre-tid-346">Pre-School / Infant</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-406">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-406" value="406">
        <label class="option" for="edit-field-genre-tid-406">Reality TV</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-321">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-321" value="321">
        <label class="option" for="edit-field-genre-tid-321">Romance</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-326">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-326" value="326">
        <label class="option" for="edit-field-genre-tid-326">Romantic Comedy</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-266">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-266" value="266">
        <label class="option" for="edit-field-genre-tid-266">Sci-Fi</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-391">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-391" value="391">
        <label class="option" for="edit-field-genre-tid-391">Special Interest</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-271">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-271" value="271">
        <label class="option" for="edit-field-genre-tid-271">Suspense</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-336">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-336" value="336">
        <label class="option" for="edit-field-genre-tid-336">Teen</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-276">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-276" value="276">
        <label class="option" for="edit-field-genre-tid-276">Thriller</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-351">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-351" value="351">
        <label class="option" for="edit-field-genre-tid-351">Tween</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-341">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-341" value="341">
        <label class="option" for="edit-field-genre-tid-341">Urban</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-286">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-286" value="286">
        <label class="option" for="edit-field-genre-tid-286">War</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-genre-tid-361">
        <input type="checkbox" name="field_genre_tid[]" id="edit-field-genre-tid-361" value="361">
        <label class="option" for="edit-field-genre-tid-361">Western</label>
      </div>
    </div>
  </div>
</div>
{{> molecules-close-icon}}
