<div class="form-item form-type-select form-item-field-format-value">
  <div class="form-checkboxes bef-select-as-checkboxes">
    <a class="bef-toggle" href="#">Select All</a>
    <div class="bef-checkboxes">
      <div class="form-item form-type-bef-checkbox form-item-edit-field-format-value-blu-ray">
        <input type="checkbox" name="field_format_value[]" id="edit-field-format-value-blu-ray" value="blu_ray">
        <label class="option" for="edit-field-format-value-blu-ray">Blu-ray</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-format-value-dvd">
        <input type="checkbox" name="field_format_value[]" id="edit-field-format-value-dvd" value="dvd">
        <label class="option" for="edit-field-format-value-dvd">DVD</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-format-value-digital-hd">
        <input type="checkbox" name="field_format_value[]" id="edit-field-format-value-digital-hd" value="digital_hd">
        <label class="option" for="edit-field-format-value-digital-hd">Digital HD</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-format-value-ondemand">
        <input type="checkbox" name="field_format_value[]" id="edit-field-format-value-ondemand" value="ondemand">
        <label class="option" for="edit-field-format-value-ondemand">On Demand</label>
      </div>
    </div>
  </div>
</div>
{{> molecules-close-icon}}
