<form class="ctools-auto-submit-full-form ctools-auto-submit-processed jquery-once-3-processed" action="/search-results" method="get" id="views-exposed-form-search-results-page" accept-charset="UTF-8">
  <div>
    <div class="views-exposed-form">
      <div class="views-exposed-widgets clearfix">
        <div class="views-exposed-widget views-submit-button"><input class="ctools-use-ajax ctools-auto-submit-click js-hide" type="submit" id="edit-submit-search-results" value="Apply"></div>
        <div id="edit-search-api-views-fulltext-wrapper" class="views-exposed-widget views-widget-filter-search_api_views_fulltext">
          <div class="views-widget">
            <div class="form-item form-type-textfield form-item-search-api-views-fulltext">
              <input class="auto_submit form-text form-autocomplete ctools-auto-submit-processed" type="text" id="edit-search-api-views-fulltext" name="search_api_views_fulltext" value="" size="30" maxlength="128"><input type="hidden" id="edit-search-api-views-fulltext-autocomplete" value="http://int.uphe.com/search_api_autocomplete/search_api_views_search_results/field_keywords%20field_people%3Afield_person%3Atitle%20title" disabled="disabled" class="autocomplete autocomplete-processed">
            </div>
            <div class="close-icon"><span class="icon-close" aria-hidden="true"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
