<div class="views-widget">
  <div class="form-item form-type-select form-item-sort-bef-combine">
    <label for="edit-sort-bef-combine">Sort </label>
    <select id="edit-sort-bef-combine" name="sort_bef_combine" class="form-select">
      <option value="field_sort_label_value ASC" selected="selected">A - Z Asc</option>
      <option value="field_sort_label_value DESC">A - Z Desc</option>
      <option value="field_latest_material_date_value ASC">Release Date Asc</option>
      <option value="field_latest_material_date_value DESC">Release Date Desc</option>
    </select>
  </div>
</div>
