<div id="{{ file_id }}" class="{{ file_classes }}"{{ file_attributes }}>

  {{ file_title_prefix }}
  {{# file_label? }}
    <h2{{ file_title_attributes }}><a href="{{ file_url }}">{{{ file_label }}}</a></h2>
  {{/ file_label? }}
  {{ file_title_suffix }}

  {{# file_submitted? }}
    <div class="submitted">
      {{{ file_submitted }}}
    </div>
  {{/ file_submitted? }}

  <div class="content"{{ file_content_attributes }}>
