<div class="{{ entity_classes }} {{ entity_unique_class }} clearfix"{{ entity_attributes }}>

  {{# entity_title? }}
    <h2{{ entity_title_attributes }}>
      {{# entity_url? }}
        <a href="{{ entity_url }}">{{{ entity_title }}}</a>
      {{/ entity_url? }}
      {{^ entity_url? }}
        {{{ entity_title }}}
      {{/ entity_url? }}
    </h2>
  {{/ entity_title? }}

  <div class="content"{{ entity_content_attributes }}>
