{{> 03-templates/entity/__entity-prefix.mustache }}

  {{# 03_entities_entity? }}
    {{{ template_content }}}
  {{/ 03_entities_entity? }}


  {{# 02_offers_panel_col_field_collection? }}
    {{> 02-organisms/offers/_offers-panel-slide(02_offers_panel_bottom_field_collection\?: true) }}
  {{/ 02_offers_panel_col_field_collection? }}
  {{# 02_offers_panel_bottom_field_collection? }}
    {{> 02-organisms/offers/_offers-panel-slide(02_offers_panel_bottom_field_collection\?: true) }}
  {{/ 02_offers_panel_bottom_field_collection? }}


  {{# dynamic_leads? }}
    {{> 02-organisms/sliders/_dynamic-leads~carousel }}
  {{/ dynamic_leads? }}


  {{# media_strip_recent_videos? }}
    {{> 02-organisms/sliders/_media-strip~slider }}
  {{/ media_strip_recent_videos? }}


  {{# title_cast_crew_field_collection? }}
    {{# field_name_field_person }}
      {{> 03-templates/field/field(title_cast_crew_field\?: true) }}
    {{/ field_name_field_person }}
  {{/ title_cast_crew_field_collection? }}

{{> 03-templates/entity/__entity-suffix.mustache }}
