{{^ variant? }}
  {{> 03-templates/block/_static-uv-education.mustache }}
{{/ variant? }}

{{# variant_more_ways? }}
  {{> 03-templates/block/_static-uv-more-ways.mustache }}
{{/ variant_more_ways? }}

{{# variant_blu_ray? }}
  {{> 03-templates/block/_static-uv-blu-ray.mustache }}
{{/ variant_blu_ray? }}
