<h1>H1s are reserved for SEO purposes. Avoid more than one instance of an H1 per page.</h1>
<h2>Assign H2s for headings less relevant than the H1.</h2>
<h3>Assign H3s for headings less relevant than H2s.</h3>
<h4>Assign H4s for headings less relevant than H3s.</h4>
<h5>Assign H5s for headings less relevant than H4s.</h5> 
<h6>Assign H6s for headings less relevant than H5s.</h6>
