<div class="search-result-wrapper">
  <div class="search-string-wrapper">
    <span>Did you mean: <a href="/search-results?search_api_views_fulltext=cool&amp;sort_bef_combine=search_api_relevance%20DESC">cool</a>?</span>
    <p class="search-string">Search for: <span>Monster Anarchy</span></p>
  </div>
  <p class="search-result-summary">Results: Showing 1-10 of 59</p>
</div>
{{#search_fulltext}}
  {{> molecules-search-fulltext}}
{{/search_fulltext}}
