  {{# panels_pane__section_footer? }}
    <footer>
      {{# panels_pane__section_feeds? }}
        <div class="feed">
          {{{ panels_pane__section_feeds }}}
        </div>
      {{/ panels_pane__section_feeds? }}

      {{# panels_pane__section_links? }}
        <div class="links">
          {{{ panels_pane__section_links }}}
        </div>
      {{/ panels_pane__section_links? }}

      {{# panels_pane__section_more? }}
        <div class="more-link">
          {{{ panels_pane__section_more }}}
        </div>
      {{/ panels_pane__section_more? }}
    </footer>
  {{/ panels_pane__section_footer? }}
</section>
{{# panels_pane__section_suffix? }}
  {{{ panels_pane__section_suffix }}}
{{/ panels_pane__section_suffix? }}
