{{! drupal_docblock }}
<div class="panel-display panel-full-art clearfix" {{# css_id }}id="{{ css_id }}"{{/ css_id }}>
  <div class="panel-panel panel-col-full">
    <div class="inside">
      {{> 02-organisms/offers/offers-full-page-art }}
      </div>
  </div>
</div>
