{{> 03-templates/panes/__panels-pane--section-prefix.mustache }}

  {{# 03_panels_panel_pane__section? }}
    {{{ template_content }}}
  {{/ 03_panels_panel_pane__section? }}



  {{!///////////////////////////////////////////////////////////////////////////
  /// ERROR 404 START ////////////////////////////////////////////////////////}}

  {{# 04_error_404? }}
    {{> 01-molecules/components/error-404 }}
  {{/ 04_error_404? }}

  {{! ERROR 404 END ////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// HOMEPAGE START /////////////////////////////////////////////////////////}}

  {{# dynamic_leads? }}
    {{> 03-templates/views/views-view(dynamic_leads\?: true) }}
  {{/ dynamic_leads? }}

  {{# media_strip_recent_videos? }}  
    {{> 03-templates/views/views-view(media_strip_recent_videos\?: true) }}
  {{/ media_strip_recent_videos? }}  

  {{# social_pane? }}
    {{> 02-organisms/social/_social-pane~menu }}
  {{/ social_pane? }}

  {{# titles_strip_available_now? }}
    {{> 03-templates/_nosync/quicktabs/_quicktabs~titles-strip(titles_strip_available_now\?: true) }}
  {{/ titles_strip_available_now? }}

  {{# titles_strip_favorites? }}
    {{> 03-templates/_nosync/quicktabs/_quicktabs~titles-strip(titles_strip_favorites\?: true) }}
  {{/ titles_strip_favorites? }}

  {{! HOMEPAGE END /////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// TITLE DETAIL START /////////////////////////////////////////////////////}}

  {{# poster_art? }}
    {{> 00-atoms/04-images/picture }}
  {{/ poster_art? }}

  {{# available_and_buy_now? }}
    {{> 02-organisms/sections/_title-available-and-buy-now~block }}
  {{/ available_and_buy_now? }}

  {{! title_synopsis? }}
    {{! title_page_video.has_title_page_video? }}
      {{> 03-templates/field/field(title_synopsis\?: true) }}
    {{! title_page_video.has_title_page_video? }}
  {{! title_synopsis? }}

  {{# title_page_video? }}
    {{! has_title_page_video? }}
      {{> 03-templates/field/field(title_page_video\?: true) }}
    {{! has_title_page_video? }}
  {{/ title_page_video? }}

  {{! stay_connected? }}
      {{> 03-templates/_nosync/field/_field~stay-connected }}
  {{! stay_connected? }}

  {{# media_strip? }}
    {{> 02-organisms/sliders/_media-strip~slider }}
  {{/ media_strip? }}

  {{# promo_banner? }}
    {{> 01-molecules/components/promo-banner }}
  {{/ promo_banner? }}

  {{# title_rating? }}
    {{> 03-templates/field/field(title_rating\?: true) }}
  {{/ title_rating? }}

  {{# title_genre? }}
    {{> 03-templates/field/field(title_genre\?: true) }}
  {{/ title_genre? }}

  {{! title_synopsis? }}
    {{> 03-templates/field/field(title_synopsis\?: true) }}
  {{! title_synopsis? }}

  {{# title_cast_crew? }}
    {{> 03-templates/field/field(title_cast_crew\?: true) }}
  {{/ title_cast_crew? }}

  {{# facebook_stream? }}
    {{> 02-organisms/social/_facebook-stream~plugin }}
  {{/ facebook_stream? }}

  {{# downloads_and_games? }}
    {{> 02-organisms/sliders/_media-strip~slider }}
  {{/ downloads_and_games? }}

  {{! TITLE DETAIL END /////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// TITLES LISTING START ///////////////////////////////////////////////////}}

  {{# 04_titles_listing? }}
    {{# titles_listing }}
      {{> 03-templates/views/views-view(titles_listing\?: true) }}
    {{/ titles_listing }}
  {{/ 04_titles_listing? }}

  {{! TITLES LISTING END ///////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



{{> 03-templates/panes/__panels-pane--section-suffix.mustache }}
