
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
    <script type="text/javascript" src="../../js/src/variables.styl?{{ cacheBuster }}"></script>{{! Put at beginning.}}
    <script type="text/javascript" src="../../js/src/prepaint.js?{{ cacheBuster }}"></script>{{! Put at beginning.}}
    <script type="text/javascript" src="../../js/patternlab-overrider.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/owl-overrides.js?{{ cacheBuster }}"></script>{{! Put at beginning.}}
    <script type="text/javascript" src="../../js/src/cbox.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/chosen.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/fepper.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/fepper.quicktabs.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/footer.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/format-drawers.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/mpx-player.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/ajax.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/owl-dynamic-leads.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/owl-sliders.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/seasons-sequels-drawers.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/stay-connected.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/titles-listing-filters.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/faq-menu.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/limit-chosen.js?{{ cacheBuster }}"></script>
    <script type="text/javascript" src="../../js/src/responsive.js?{{ cacheBuster }}"></script>{{! Put at end.}}
    <script type="text/javascript">//<![CDATA[
      document.write('<script type="text/javascript" src="http://HOST:{{ livereload_port }}/livereload.js"><\/script>'.replace('HOST', location.hostname));
      //]]></script>
  </body>
</html>
