<section class="panel-pane pane-entity-field pane-node-field-sequels">
  <header>
    <h2 class="pane-title arrow-down">Sequels<span class="icon-arrow-down"></span></h2>
  </header>
  {{# field_sequels }}
    {{> 03-templates/field/field(sequels\?: true) }}
  {{/ field_sequels }}
</section>
