{{# 00-page? }}
  {{> 02-organisms/02-components/component-00(00-page\?: true) }}
  {{> 02-organisms/02-components/component-01(00-page\?: true) }}
  {{> 02-organisms/02-components/component-02(00-page\?: true) }}
  {{> 02-organisms/02-components/component-03(00-page\?: true) }}
  {{> 02-organisms/02-components/component-04(00-page\?: true) }}
  {{> 02-organisms/02-components/component-05(00-page\?: true) }}
{{/ 00-page? }}

{{# 00-page~~template? }}
  {{> 02-organisms/02-components/component-00(00-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-01(00-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-02(00-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-03(00-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-04(00-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-05(00-page~~template\?: true) }}
{{/ 00-page~~template? }}

{{# 01-page? }}
  {{> 02-organisms/02-components/component-00(01-page\?: true) }}
  {{> 02-organisms/02-components/component-01(01-page\?: true) }}
  {{> 02-organisms/02-components/component-02(01-page\?: true) }}
  {{> 02-organisms/02-components/component-03(01-page\?: true) }}
  {{> 02-organisms/02-components/component-04(01-page\?: true) }}
  {{> 02-organisms/02-components/component-05(01-page\?: true) }}
{{/ 01-page? }}

{{# 01-page~~template? }}
  {{> 02-organisms/02-components/component-00(01-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-01(01-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-02(01-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-03(01-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-04(01-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-05(01-page~~template\?: true) }}
{{/ 01-page~~template? }}

{{# 02-page? }}
  {{> 02-organisms/02-components/component-00(02-page\?: true) }}
  {{> 02-organisms/02-components/component-01(02-page\?: true) }}
  {{> 02-organisms/02-components/component-02(02-page\?: true) }}
  {{> 02-organisms/02-components/component-03(02-page\?: true) }}
  {{> 02-organisms/02-components/component-04(02-page\?: true) }}
  {{> 02-organisms/02-components/component-05(02-page\?: true) }}
{{/ 02-page? }}

{{# 02-page~~template? }}
  {{> 02-organisms/02-components/component-00(02-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-01(02-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-02(02-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-03(02-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-04(02-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-05(02-page~~template\?: true) }}
{{/ 02-page~~template? }}

{{# 03-page? }}
  {{> 02-organisms/02-components/component-00(03-page\?: true) }}
  {{> 02-organisms/02-components/component-01(03-page\?: true) }}
  {{> 02-organisms/02-components/component-02(03-page\?: true) }}
  {{> 02-organisms/02-components/component-03(03-page\?: true) }}
  {{> 02-organisms/02-components/component-04(03-page\?: true) }}
  {{> 02-organisms/02-components/component-05(03-page\?: true) }}
{{/ 03-page? }}

{{# 03-page~~template? }}
  {{> 02-organisms/02-components/component-00(03-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-01(03-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-02(03-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-03(03-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-04(03-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-05(03-page~~template\?: true) }}
{{/ 03-page~~template? }}

{{# 04-page? }}
  {{> 02-organisms/02-components/component-00(04-page\?: true) }}
  {{> 02-organisms/02-components/component-01(04-page\?: true) }}
  {{> 02-organisms/02-components/component-02(04-page\?: true) }}
  {{> 02-organisms/02-components/component-03(04-page\?: true) }}
  {{> 02-organisms/02-components/component-04(04-page\?: true) }}
  {{> 02-organisms/02-components/component-05(04-page\?: true) }}
{{/ 04-page? }}

{{# 04-page~~template? }}
  {{> 02-organisms/02-components/component-00(04-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-01(04-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-02(04-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-03(04-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-04(04-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-05(04-page~~template\?: true) }}
{{/ 04-page~~template? }}

{{# 05-page? }}
  {{> 02-organisms/02-components/component-00(05-page\?: true) }}
  {{> 02-organisms/02-components/component-01(05-page\?: true) }}
  {{> 02-organisms/02-components/component-02(05-page\?: true) }}
  {{> 02-organisms/02-components/component-03(05-page\?: true) }}
  {{> 02-organisms/02-components/component-04(05-page\?: true) }}
  {{> 02-organisms/02-components/component-05(05-page\?: true) }}
{{/ 05-page? }}

{{# 05-page~~template? }}
  {{> 02-organisms/02-components/component-00(05-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-01(05-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-02(05-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-03(05-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-04(05-page~~template\?: true) }}
  {{> 02-organisms/02-components/component-05(05-page~~template\?: true) }}
{{/ 05-page~~template? }}
