<div id="edit-custom-street-filter--2" class="form-checkboxes">
  <div class="form-item form-type-checkbox form-item-custom-street-filter-all">
    <input type="checkbox" id="edit-custom-street-filter-all" name="custom_street_filter[all]" value="all" class="form-checkbox">
    <label class="option" for="edit-custom-street-filter-all">Select All</label>
  </div>
  <div class="form-item form-type-checkbox form-item-custom-street-filter-recent">
    <input type="checkbox" id="edit-custom-street-filter-recent" name="custom_street_filter[recent]" value="recent" class="form-checkbox">
    <label class="option" for="edit-custom-street-filter-recent">Recent</label>
  </div>
  <div class="form-item form-type-checkbox form-item-custom-street-filter-upcoming">
    <input type="checkbox" id="edit-custom-street-filter-upcoming" name="custom_street_filter[upcoming]" value="upcoming" class="form-checkbox">
    <label class="option" for="edit-custom-street-filter-upcoming">Upcoming</label>
  </div>
</div>
{{> molecules-close-icon}}
