<div class="panel-pane pane-fieldable-panels-pane pane-fpid-6 pane-bundle-media-pane">
    <div class="pane-content">
        <div class="fieldable-panels-pane">
            <div class="field field-name-media-pane-media field-type-file field-label-hidden">
                <div class="field-items">
                    <div class="field-item even">
                        <div id="file-33481" class="file file-image file-image-jpeg">
                            <h2 class="element-invisible"><a href="/files/xkbdeyqjpg">XKBDeYQ.jpg</a></h2>
                            <div class="content">
                                <img src="http://placehold.it/344x480/f19533/FFFFFF" width="480" height="360" alt="" title="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
