{{#sku_item}}
<div class="views-row">
  <div class="item-media">
    <a>
      <img class="item-image" src="{{item_image}}">
    </a>
  </div>
  <div class="item-content">
    <h2><a href="#">{{item_title}}</a></h2>
    <a href="#" class="ellipsis">
      <p>
        {{item_description}}
      </p>
    </a>
    {{> molecules-available-now}}
  </div>
</div>
{{/sku_item}}
