<div class="file file-mpx-video-1 file-video-mpx">
  <div class="content">
    <div class="fluid-video">
      <iframe src="//localhost.localdomain/p/frKfDC/plVzaHXBdCJG/embed/select/cL5zv0X7NTkn?autoPlay=true&amp;form=html" frameborder="0" allowfullscreen="" id="pdk-player">Your browser does not support iframes.</iframe>
    </div>
  </div>
</div>
