<div id="quicktabs-{{ quicktabs_machine_name }}" class="quicktabs-wrapper">
  {{> 01-molecules/components/titles-strip-quicktabs }}
  <div id="quicktabs-container-{{ quicktabs_machine_name }}" class="quicktabs_main quicktabs-style-nostyle">
    <div id="quicktabs-tabpage-{{ quicktabs_machine_name }}-0" class="quicktabs-tabpage">

      {{# titles_strip_available_now? }}
        {{> 03-templates/block/block(02_sliders_titles_strip_available_now\?: true) }}
      {{/ titles_strip_available_now? }}

      {{# titles_strip_favorites? }}
        {{> 03-templates/block/block(02_sliders_titles_strip_favorites\?: true) }}
      {{/ titles_strip_favorites? }}

    </div>
    <div id="quicktabs-tabpage-{{ quicktabs_machine_name }}-1" class="quicktabs-tabpage">
    </div>
  </div>
</div>
