{{#video_item}}
  <div class="views-row">
    <div class="views-field views-field-thumbnail-url">        
      <span class="field-content">
        <a href="/video/391702083758">
          <img class="pub-mpx-video-thumbnail" src="{{video_image}}">
        </a>
      </span>
    </div>  
    <div class="views-field views-field-title">
      <span class="field-content">
        <a href="/video/391702083758">{{video_title}}</a>
      </span>
    </div>  
    <div class="views-field views-field-description ellipsis">
      <span class="field-content">
        <a href="/video/391702083758">{{video_description}}</a>
      </span>
    </div>  
  </div>
{{/video_item}}
