<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
  <div class="views-field views-field-title">
      <span class="field-content">Top 10 Features</span>
  </div>
  <div class="views-field views-field-field-freeform-subtitle">
    <div class="field-content">Grab some popcorn!</div>
  </div>
  <div class="views-field views-field-field-freeform-image">
    <div class="field-content">
      <img src="http://placehold.it/280x120/3279f2/FFFFFF" /></div>
    </div>
    <div class="views-field views-field-body">
      <div class="field-content">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi nibh, vehicula malesuada orci non, mollis lacinia orci.</p>
         <ol>
          <li>Sed dictum nibh lacus, nec aliquet urna ornare nec.</li>
          <li>Curabitur eu malesuada lorem, vitae pellentesque turpis.</li>
          <li>Proin sapien ante, congue eget felis in, consequat malesuada tellus.</li>
         </ol>
         <ul>
          <li>Phasellus in nunc luctus, faucibus ipsum vel, iaculis lorem. </li>
          <li>Maecenas id aliquet risus. </li>
          <li>Proin aliquam euismod urna a malesuada.</li>
         </ul>
    </div>
  </div>
</div>
