<div id="quicktabs-{{quicktabs_machine_name}}" class="quicktabs-wrapper">
  {{{quicktabs}}}

  <div id="quicktabs-container-{{quicktabs_machine_name}}" class="quicktabs_main quicktabs-style-nostyle">
    <div id="quicktabs-tabpage-{{quicktabs_type_name}}" class="quicktabs-tabpage quicktabs-hide">
      {{{content}}}
    </div>
  </div>
</div>
