<a class="cbox-overlay cboxElement" data-href="#{{ retailer_format_class }}-{{ promo_id }}">Buy Now</a>
<div class="field field-name-field-retailers field-type-entityreference field-label-hidden">
  <div class="field-items">
    <div class="field-item even">
      {{> 02-organisms/overlays/retailer-overlay }}
    </div>
  </div>
</div>
