{{> 01-molecules/images/dark-blur }}
<div class="dl--front-focus">

  {{# no_title? }}<a href="#{{ promo_id }}" class="img dl--responsive-bg-img responsive-bg-img" data-srcs='{{{ bg_img_srcs }}}' tabindex="-1"></a>{{/ no_title? }}
  {{^ no_title? }}
    <div class="img dl--responsive-bg-img responsive-bg-img" data-srcs='{{{ bg_img_srcs }}}'>

      <div class="slider-big-cell-bottom">
        {{# 02_sections_stay_connected }}
          {{> 03-templates/_nosync/field/_field~stay-connected }}
        {{/ 02_sections_stay_connected }}

        <div class="title-strip" style="background-color: rgb(150, 124, 175);background-color: rgba(150,124,175, 0.9);">
          <a href="#" class="title-text" tabindex="-1" style="background-color: rgb(108, 68, 145);background-color: rgba(108, 68, 145, 0.9);">
            <p>{{ title_label }}</p>
          </a>
          <div class="available">
            {{# is_available_all }}
              {{> molecules-title-available-now }}
            {{/ is_available_all }}
            {{^ is_available_all }}
              Own it on Digital HD
              <span class="when">
                {{# when_available_dhd }}
                  {{ when_available_dhd }}
                {{/ when_available_dhd }}
                {{^ when_available_dhd }}
                  Coming Soon
                {{/ when_available_dhd }}
              </span>
              &nbsp;&nbsp;
              Blu-ray & DVD
              <span class="when">
                {{# when_available_disc }}
                  {{ when_available_disc }}
                {{/ when_available_disc }}
                {{^ when_available_disc }}
                  Coming Soon
                {{/ when_available_disc }}
              </span>
            {{/ is_available_all }}
          </div>
        </div>

        {{# is_available_all }}
          <p class="availability-message">{{> molecules-title-available-now }}</p>
        {{/ is_available_all }}
        <ul class="buy-buttons">
          {{# is_available_dhd }}
            <li>
              <h2 class="cbox-overlay" data-href="#{{ retailer_format_class }}-{{ promo_id }}">Buy<br class="mobile-break" /> Digital HD</h2>
              <p class="date-mobile">{{^ is_available_all }}{{ when_available_dhd }}{{/ is_available_all }}</p>
            </li>
          {{/ is_available_dhd }}
          {{# is_available_bluray }}
            <li>
              <h2 class="cbox-overlay" data-href="#{{ retailer_format_class }}-{{ promo_id }}">Buy<br class="mobile-break" /> Blu-ray</h2>
              <p class="date-mobile">{{^ is_available_all }}{{ when_available_disc }}{{/ is_available_all }}</p>
            </li>
          {{/ is_available_bluray }}
          {{# is_available_dvd }}
            <li>
              <h2 class="cbox-overlay" data-href="#{{ retailer_format_class }}-{{ promo_id }}">Buy<br class="mobile-break" /> DVD</h2>
              <p class="date-mobile">{{^ is_available_all }}{{ when_available_disc }}{{/ is_available_all }}</p>
            </li>
          {{/ is_available_dvd }}
          {{# is_available_vod }}
            <li>
              <h2 class="cbox-overlay" data-href="#{{ retailer_format_class }}-{{ promo_id }}">Watch<br class="mobile-break" /> On Demand</h2>
              <p class="date-mobile">{{^ is_available_all }}{{ when_available_ond }}{{/ is_available_all }}</p>
            </li>
          {{/ is_available_vod }}
        </ul>
      </div>

      <div class="retailers-overlay">
        <div class="field field-name-field-formats field-type-field-collection field-label-hidden">
          <div class="field-items">
            <div class="field-item even">
              {{# is_available_dhd }}
                {{> organisms-retailer-overlay }}
              {{/ is_available_dhd }}
              {{# is_available_bluray }}
                {{> organisms-retailer-overlay }}
              {{/ is_available_bluray }}
              {{# is_available_dvd }}
                {{> organisms-retailer-overlay }}
              {{/ is_available_dvd }}
              {{# is_available_vod }}
                {{> organisms-retailer-overlay }}
              {{/ is_available_vod }}
            </div>
          </div>
        </div>
      </div>

    </div>
  {{/ no_title? }}

</div>
