<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
  <div class="views-field views-field-field-summary">
    <div class="field-content">
      <p>UltraViolet™ was created to extend your enjoyment of Blu-ray™ disc purchases, enabling you to stream and download your favorite movies and TV shows to any computer or UltraViolet-enabled device.</p>
      <p>Below are a series of frequently asked questions about UltraViolet™.</p>
    </div>
  </div>
</div>
