<form action="/news" method="post" id="newsletter-signup-form" accept-charset="UTF-8">
  <div>
    <h2>Get the news on latest releases.</h2>
    <p>Sign up now to find out about cool giveaways, exclusive content, and much, much more.</p>
    <fieldset class="form-wrapper" id="edit-who-you-are">
      <legend><span class="fieldset-legend"><h3>1. Who You Are</h3></span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="form-item form-type-select form-item-country">
          <label for="edit-country">Country <span class="form-required" title="This field is required.">*</span>
          </label>
          <select id="edit-country" name="country" class="form-select required">
            <option value="" selected="selected">- Select -</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="AF">Afghanistan</option>
            <option value="AX">Aland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="VG">British Virgin Islands</option>
            <option value="BN">Brunei</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CV">Cape Verde</option>
            <option value="BQ">Caribbean Netherlands</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo (Brazzaville)</option>
            <option value="CD">Congo (Kinshasa)</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island and McDonald Islands</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong S.A.R., China</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="CI">Ivory Coast</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Laos</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao S.A.R., China</option>
            <option value="MK">Macedonia</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia</option>
            <option value="MD">Moldova</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="AN">Netherlands Antilles</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="KP">North Korea</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestinian Territory</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Reunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russia</option>
            <option value="RW">Rwanda</option>
            <option value="BL">Saint Barthélemy</option>
            <option value="SH">Saint Helena</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="MF">Saint Martin (French part)</option>
            <option value="PM">Saint Pierre and Miquelon</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">Sao Tome and Principe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia and the South Sandwich Islands</option>
            <option value="KR">South Korea</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard and Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syria</option>
            <option value="TW">Taiwan</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="VI">U.S. Virgin Islands</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VA">Vatican</option>
            <option value="VE">Venezuela</option>
            <option value="VN">Vietnam</option>
            <option value="WF">Wallis and Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
          </select>
        </div>
        <div class="form-item form-type-textfield form-item-email">
          <label for="edit-email">Email Address <span class="form-required" title="This field is required.">*</span>
          </label>
          <input id="edit-email" name="email" value="" size="60" maxlength="48" class="form-text required" type="text">
        </div>
        <div class="form-item form-type-textfield form-item-first-name">
          <label for="edit-first-name">First Name <span class="form-required" title="This field is required.">*</span>
          </label>
          <input id="edit-first-name" name="first_name" value="" size="60" maxlength="32" class="form-text required" type="text">
        </div>
        <div class="form-item form-type-textfield form-item-last-name">
          <label for="edit-last-name">Last Name <span class="form-required" title="This field is required.">*</span>
          </label>
          <input id="edit-last-name" name="last_name" value="" size="60" maxlength="32" class="form-text required" type="text">
        </div>
        <div class="form-item form-type-radios form-item-gender">
          <label for="edit-gender">Gender <span class="form-required" title="This field is required.">*</span>
          </label>
          <div id="edit-gender" class="form-radios">
            <div class="form-item form-type-radio form-item-gender">
              <input id="edit-gender-m" name="gender" value="m" class="form-radio" type="radio">
              <label class="option" for="edit-gender-m">Male </label>

            </div>
            <div class="form-item form-type-radio form-item-gender">
              <input id="edit-gender-f" name="gender" value="f" class="form-radio" type="radio">
              <label class="option" for="edit-gender-f">Female </label>

            </div>
          </div>
        </div>
        <div class="container-inline-date">
          <div class="form-item form-type-date-select form-item-birthday">
            <label for="edit-birthday">Birthday (Month / Day / Year) <span class="form-required" title="This field is required.">*</span>
            </label>
            <div id="edit-birthday" class="date-padding clearfix">
              <div class="form-item form-type-select form-item-birthday-month">
                <label class="element-invisible" for="edit-birthday-month">Month </label>
                <div class="date-month">
                  <select class="date-month form-select" id="edit-birthday-month" name="birthday[month]">
                    <option value="" selected="selected">Month</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
              </div>
              <div class="form-item form-type-select form-item-birthday-day">
                <label class="element-invisible" for="edit-birthday-day">Day </label>
                <div class="date-day">
                  <select class="date-day form-select" id="edit-birthday-day" name="birthday[day]">
                    <option value="" selected="selected">Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
              </div>
              <div class="form-item form-type-select form-item-birthday-year">
                <label class="element-invisible" for="edit-birthday-year">Year </label>
                <div class="date-year">
                  <select class="date-year form-select" id="edit-birthday-year" name="birthday[year]">
                    <option value="" selected="selected">Year</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                    <option value="1979">1979</option>
                    <option value="1978">1978</option>
                    <option value="1977">1977</option>
                    <option value="1976">1976</option>
                    <option value="1975">1975</option>
                    <option value="1974">1974</option>
                    <option value="1973">1973</option>
                    <option value="1972">1972</option>
                    <option value="1971">1971</option>
                    <option value="1970">1970</option>
                    <option value="1969">1969</option>
                    <option value="1968">1968</option>
                    <option value="1967">1967</option>
                    <option value="1966">1966</option>
                    <option value="1965">1965</option>
                    <option value="1964">1964</option>
                    <option value="1963">1963</option>
                    <option value="1962">1962</option>
                    <option value="1961">1961</option>
                    <option value="1960">1960</option>
                    <option value="1959">1959</option>
                    <option value="1958">1958</option>
                    <option value="1957">1957</option>
                    <option value="1956">1956</option>
                    <option value="1955">1955</option>
                    <option value="1954">1954</option>
                    <option value="1953">1953</option>
                    <option value="1952">1952</option>
                    <option value="1951">1951</option>
                    <option value="1950">1950</option>
                    <option value="1949">1949</option>
                    <option value="1948">1948</option>
                    <option value="1947">1947</option>
                    <option value="1946">1946</option>
                    <option value="1945">1945</option>
                    <option value="1944">1944</option>
                    <option value="1943">1943</option>
                    <option value="1942">1942</option>
                    <option value="1941">1941</option>
                    <option value="1940">1940</option>
                    <option value="1939">1939</option>
                    <option value="1938">1938</option>
                    <option value="1937">1937</option>
                    <option value="1936">1936</option>
                    <option value="1935">1935</option>
                    <option value="1934">1934</option>
                    <option value="1933">1933</option>
                    <option value="1932">1932</option>
                    <option value="1931">1931</option>
                    <option value="1930">1930</option>
                    <option value="1929">1929</option>
                    <option value="1928">1928</option>
                    <option value="1927">1927</option>
                    <option value="1926">1926</option>
                    <option value="1925">1925</option>
                    <option value="1924">1924</option>
                    <option value="1923">1923</option>
                    <option value="1922">1922</option>
                    <option value="1921">1921</option>
                    <option value="1920">1920</option>
                    <option value="1919">1919</option>
                    <option value="1918">1918</option>
                    <option value="1917">1917</option>
                    <option value="1916">1916</option>
                    <option value="1915">1915</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="wrapper-states-provinces">
          <div class="form-item form-type-select form-item-state-province">
            <label for="edit-state-province">State / Province </label>
            <select id="edit-state-province" name="state_province" class="form-select">
              <option value="" selected="selected">- Select -</option>
            </select>
            <div class="description">(Required for U.S. and Canada)</div>
          </div>
        </div>
        <div class="form-item form-type-textfield form-item-postal-code">
          <label for="edit-postal-code">Zip / Postal Code </label>
          <input id="edit-postal-code" name="postal_code" value="" size="60" maxlength="10" class="form-text" type="text">
          <div class="description">(Required for U.S. and Canada)</div>
        </div>
        <div class="form-item form-type-select form-item-mobile-phone-carrier">
          <label for="edit-mobile-phone-carrier">Mobile Phone Carrier </label>
          <select id="edit-mobile-phone-carrier" name="mobile_phone_carrier" class="form-select">
            <option value="" selected="selected">- Select -</option>
            <option value="310103">Alltel</option>
            <option value="310105">Boost</option>
            <option value="310380">Cingular Blue (AT&amp;T)</option>
            <option value="310150">Cingular Orange (AT&amp;T)</option>
            <option value="316010">Nextel</option>
            <option value="310101">Sprint</option>
            <option value="310220">T-Mobile</option>
            <option value="310999">Virgin</option>
            <option value="310012">Verizon</option>
            <option value="000000">Other</option>
          </select>
        </div>
        <div class="form-item-phone-wrapper">
          <div class="form-item form-type-textfield form-item-mobile-phone-number-area-code">
            <label for="edit-mobile-phone-number-area-code">Mobile Phone Number </label>
            <input id="edit-mobile-phone-number-area-code" name="mobile_phone_number_area_code" value="" size="60" maxlength="3" class="form-text" type="text">
            <div class="description">10-Digit Mobile Phone Number</div>
          </div>
          <div class="form-item form-type-textfield form-item-mobile-phone-number-exchange">
            <input id="edit-mobile-phone-number-exchange" name="mobile_phone_number_exchange" value="" size="60" maxlength="3" class="form-text" type="text">
          </div>
          <div class="form-item form-type-textfield form-item-mobile-phone-number-line-number">
            <input id="edit-mobile-phone-number-line-number" name="mobile_phone_number_line_number" value="" size="60" maxlength="4" class="form-text" type="text">
          </div>
        </div>
        <div class="form-item form-type-checkbox form-item-text-updates">
          <input id="edit-text-updates" name="text_updates" value="1" class="form-checkbox" type="checkbox">
          <label class="option" for="edit-text-updates">Check here if you want to receive text message updates. </label>

        </div>
      </div>
    </fieldset>
    <fieldset class="form-wrapper" id="edit-what-do-you-like">
      <legend><span class="fieldset-legend"><h3>2. What kind of Movies/TV Shows do you like?<span> (Check all that apply)</span>
        </h3>
        </span>
      </legend>
      <div class="fieldset-wrapper">
        <div id="edit-genres" class="form-checkboxes">
          <div class="form-item form-type-checkbox form-item-genres-genre-action">
            <input id="edit-genres-genre-action" name="genres[genre_action]" value="genre_action" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-action">Action </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-adventure">
            <input id="edit-genres-genre-adventure" name="genres[genre_adventure]" value="genre_adventure" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-adventure">Adventure </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-animation">
            <input id="edit-genres-genre-animation" name="genres[genre_animation]" value="genre_animation" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-animation">Animation </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-children">
            <input id="edit-genres-genre-children" name="genres[genre_children]" value="genre_children" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-children">Children </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-comedy">
            <input id="edit-genres-genre-comedy" name="genres[genre_comedy]" value="genre_comedy" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-comedy">Comedy </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-drama">
            <input id="edit-genres-genre-drama" name="genres[genre_drama]" value="genre_drama" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-drama">Drama </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-family">
            <input id="edit-genres-genre-family" name="genres[genre_family]" value="genre_family" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-family">Family </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-foreign">
            <input id="edit-genres-genre-foreign" name="genres[genre_foreign]" value="genre_foreign" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-foreign">Foreign </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-horror">
            <input id="edit-genres-genre-horror" name="genres[genre_horror]" value="genre_horror" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-horror">Horror </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-independent">
            <input id="edit-genres-genre-independent" name="genres[genre_independent]" value="genre_independent" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-independent">Independent </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-romance">
            <input id="edit-genres-genre-romance" name="genres[genre_romance]" value="genre_romance" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-romance">Romance </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-scifi">
            <input id="edit-genres-genre-scifi" name="genres[genre_scifi]" value="genre_scifi" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-scifi">Sci-Fi </label>

          </div>
          <div class="form-item form-type-checkbox form-item-genres-genre-suspense">
            <input id="edit-genres-genre-suspense" name="genres[genre_suspense]" value="genre_suspense" class="form-checkbox" type="checkbox">
            <label class="option" for="edit-genres-genre-suspense">Suspense </label>

          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-wrapper" id="edit-email-options">
      <legend><span class="fieldset-legend"><h3>3. Email Options</h3></span>
      </legend>
      <div class="fieldset-wrapper">
        <div class="form-item form-type-checkbox form-item-format-updates">
          <input id="edit-format-updates" name="format_updates" value="1" class="form-checkbox" type="checkbox">
          <label class="option" for="edit-format-updates">Blu-ray™, DVD, Digital HD and On Demand Updates </label>
        </div>
        <div class="form-item form-type-checkbox form-item-theatrical-release-updates">
          <input id="edit-theatrical-release-updates" name="theatrical_release_updates" value="1" class="form-checkbox" type="checkbox">
          <label class="option" for="edit-theatrical-release-updates">Theatrical Release Updates </label>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-wrapper" id="edit-terms-of-use-privacy-policy">
      <div class="fieldset-wrapper">
        <div class="form-item form-type-checkbox form-item-agree">
          <input id="edit-agree" name="agree" value="1" class="form-checkbox" type="checkbox">
          <label class="option" for="edit-agree">I have read and agree to the <a href="/terms-of-use">Terms of Use</a> and <a href="http://localhost.localdomain/privacy/" target="_blank">Privacy Policy</a>. </label>

        </div>
        <p>Once you hit the Sign Up button below, you will be able to access your profile information at any time by clicking on the URL provided in the emails we send to you.</p>
        <input id="edit-submit" name="op" value="Sign Up" class="form-submit" type="submit">
        <p class="privacy-policy">Your privacy is important to us. We will not sell your personal information to third parties. By submitting this form you are agreeing to our Privacy Policy. <a href="http://localhost.localdomain/privacy/" target="_blank">Click here to review our Privacy Policy</a>
        </p>
      </div>
    </fieldset>
    <input name="source" value="USE Portal Signup Page" type="hidden">
    <input name="form_build_id" value="form-aUWjyWG8OHLZVB1jvS1UBCnD_uuuna3RjNjJQsmoWu4" type="hidden">
    <input name="form_id" value="newsletter_signup_form" type="hidden">
  </div>
</form>
