<div class="form-item form-type-select form-item-field-type-value">
  <div class="form-checkboxes bef-select-as-checkboxes bef-select-all-none bef-processed">
    <a class="bef-toggle" href="#">Select All</a>
    <div class="bef-checkboxes">
      <div class="form-item form-type-bef-checkbox form-item-edit-field-type-value-movies">
        <input type="checkbox" name="field_type_value[]" id="edit-field-type-value-movies" value="movies">
        <label class="option" for="edit-field-type-value-movies">Movie</label>
      </div>
      <div class="form-item form-type-bef-checkbox form-item-edit-field-type-value-tv">
        <input type="checkbox" name="field_type_value[]" id="edit-field-type-value-tv" value="tv"> 
        <label class="option" for="edit-field-type-value-tv">Television</label>
      </div>
    </div>
  </div>
</div>
{{> molecules-close-icon}}
