<div class="form-item form-type-textfield form-item-combine">
  <input type="text" id="edit-combine" name="combine" value="" size="30" maxlength="128" class="form-text ctools-auto-submit-processed">
</div>
