<ul class="menu {{ 02_global_header_classes }}">
  {{# header_nav_list? }}
    {{# header_nav_list_items }}
      {{> 01-molecules/navigation/nav-list-item }}
    {{/ header_nav_list_items }}
  {{/ header_nav_list? }}

  {{# header_discover_submenu? }}
    {{# header_discover_submenu_items }}
      {{> 01-molecules/navigation/nav-list-item(has_submenu\?: false) }}
    {{/ header_discover_submenu_items }}
  {{/ header_discover_submenu? }}

  {{# header_user_menu? }}
    {{# header_user_menu_items }}
      {{> 01-molecules/navigation/nav-list-item }}
    {{/ header_user_menu_items }}
  {{/ header_user_menu? }}
</ul>
