{{# offers_panel_top }}
  {{# offers_panel_top_social }}
    {{> 03-templates/panes/panels-pane(02_offers_panel_top_social\?: true) }}
  {{/ offers_panel_top_social }}

  {{# offers_panel_top_subheading }}
    {{> 03-templates/panes/panels-pane(02_offers_panel_top_subheading\?: true) }}


{{!
<div class="panel-pane pane-entity-field pane-node-field-subheadline">
  <div class="pane-content">
    <div class="field field-name-field-subheadline field-type-text field-label-hidden">
      <div class="field-items">
        <div class="field-item even">When you do this thing, you get that thing instruction placeholder.</div>
      </div>
    </div>
  </div>
</div>
}}
  {{/ offers_panel_top_subheading }}

  {{# offers_panel_top_body }}
    {{> 03-templates/panes/panels-pane(02_offers_panel_top_body\?: true) }}

{{!
<div class="panel-pane pane-entity-field pane-node-body">
  <div class="pane-content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <p>Sub-test placeholder that clarifies anything that needs additional clarification.</p>
        </div>
      </div>
    </div>
  </div>
</div>
}}
  {{/ offers_panel_top_body }}
{{/ offers_panel_top }}
