{{^ variant? }}
  {{> 03-templates/system/page(04_offers_threecol_hero\?: true) }}
{{/ variant? }}

{{# variant_offers_art_left? }}
  {{> 03-templates/system/page(04_offers_art_left\?: true) }}
{{/ variant_offers_art_left? }}

{{# variant_offers_art_right? }}
  {{> 03-templates/system/page(04_offers_art_right\?: true) }}
{{/ variant_offers_art_right? }}

{{# variant_offers_full_art? }}
  {{> 03-templates/system/page(04_offers_full_art\?: true) }}
{{/ variant_offers_full_art? }}

{{# variant_offers_full_art? }}
  {{> 03-templates/system/page(04_offers_full_art\?: true) }}
{{/ variant_offers_full_art? }}

{{# variant_offers_gridspan? }}
  {{> 03-templates/system/page(04_offers_gridspan\?: true) }}
{{/ variant_offers_gridspan? }}
