<div id="{{ block_id }}" class="{{ block_classes }}"{{{ block_attributes }}}>
  {{{ block_title_prefix }}}
  {{# block_subject? }}
    <h2{{{ block_title_attributes }}}>{{{ block_subject }}}</h2>
  {{/ block_subject? }}
  {{{ block_title_suffix }}}
  <div class="content"{{{ block_content_attributes }}}>
