<div class="education-mw-content-wrapper">
  <div class="education-mw-content">
    <h2 class="">More Ways to Watch</h2>
    <p class="education-mw-description">Digital HD with <span>UltraViolet™</span> lets you instantly stream anywhere on your favorite devices, including many options in HD! Read below to learn more about HD playback and other ways to watch.</p>
    <div class="education-mw-steps-container">
      <h3 class="education-mw-steps-header">Watch in 3 easy steps!</h3>
      <div class="education-mw-step">
        <div class="education-mw-number">
            <span>1</span>
        </div>
        <div class="education-mw-step-description">
            <div class="education-mw-step-block">
              <p class="education-mw-text-black">Verify if your title is viewable in HD. </p>
              <p class="education-mw-text-violet">Look for the <span class="education-mw-icon mv-hd-violet"></span> icon in the title information box.</p>
            </div>
            <div class="education-mw-step-block">
              <div class="education-mw-block-violet">
                <p>Includes:</p>
                <span class="education-mw-icon mw-hd-white"></span>
                <span class="education-mw-icon mv-sd"></span>
              </div>
            </div>
        </div>
      </div>
      <div class="education-mw-step">
          <div class="education-mw-number">
            <span>2</span>
          </div>
          <div class="education-mw-step-description">
            <p class="education-mw-text-black">Choose your favorite retailer:</p>
            <a href="https://www.cinemanow.com/" target="_blank" class="education-mw-icon mw-cinema-now"></a>
            <a href="http://www.flixster.com/" target="_blank" class="education-mw-icon mw-flixster"></a>
            <a href="http://www.vudu.com/" target="_blank" class="education-mw-icon mw-vudu"></a>
          </div>
      </div>
      <div class="education-mw-step">
          <div class="education-mw-number">
            <span>3</span>
          </div>
          <div class="education-mw-step-description">
            <p class="education-mw-text-black">Start downloading and streaming instantly on your favorite devices!</p>
            <p class="education-mw-text-violet text-padding">Including HDTVs, Blu-ray™ players, gaming consoles, computers, mobile phones and tablets.</p>
            <p class="education-mw-text-black-small">Check your selected retailer for download options.</p>
          </div>
      </div>
      <div class="education-mw-steps-footer">
          <div class="education-mw-steps-footer-img"></div>
      </div>
    </div>
    <a href="{{ identity_deluxe_domain }}/UltraViolet/MyCollection" class="education-back-btn">Back</a>
  </div>
</div>
