<h2 class="faq-topic">Experience Blu-ray™</h2>
<div class="uv-blu-ray-top">
    <p>Only when you own Blu-ray™ can you experience the movies you love in the best way possible! Enjoy watching your favorite movies in HD with Theater quality sound and with exclusive bonus features. Now watch your favorite movies anytime anywhere on your favorite devices* </p>
    <div class="bg-diagonal-gradient clearfix">
        <div class="bg-horizontal-gradient"></div>
        <picture class="devices">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/sites/all/themes/aurora/images/uv-blu-ray-device-1.png" media="(min-width: 955px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/sites/all/themes/aurora/images/uv-blu-ray-device-1.png">
        </picture>
        <ul class="violet bulletin">
            <li><span class="black">Experience the movies you love in the best way possible</span></li>
            <li><span class="black">HD picture and theatre quality sound</span></li>
            <li><span class="black">Exclusive extras only available when you own movies on Blu-ray</span></li>
            <li><span class="black">Blu-ray also comes with Digital HD with UltraViolet™ to watch your movies anytime, anywhere on your favorite devices </span></li>
        </ul>
        <div class="bg-white-bottom"></div>
    </div>
    <h2 class="faq-topic">Blu-ray 3D™</h2>
    <p>Blu-ray 3D™ is an exciting dimension in home entertainment!</p>
    <img class="centered" src="/sites/all/themes/aurora/images/uv-blu-ray-device-2.png">
</div>
<div class="uv-blu-ray-middle">
  <h3 class="bg-vertical-gradient-blue">IMMERSE YOURSELF IN 3D AND ENJOY TITLES AVAILABLE NOW</h3>
  <div class="uv-blu-ray-movie-wrapper">
      <img class="uv-blu-ray-movie-item" src="/sites/all/themes/aurora/images/uv-blu-ray-jp.png"/>
      <img class="uv-blu-ray-movie-item" src="/sites/all/themes/aurora/images/uv-blu-ray-dm.png"/>
      <img class="uv-blu-ray-movie-item" src="/sites/all/themes/aurora/images/uv-blu-ray-cor.png"/>
      <img class="uv-blu-ray-movie-item" src="/sites/all/themes/aurora/images/uv-blu-ray-47.png"/>
      <img class="uv-blu-ray-movie-item" src="/sites/all/themes/aurora/images/uv-blu-ray-nj.png"/>
  </div>
  <h3 class="bg-vertical-gradient-blue">WHAT’S NEW ON BLU-RAY 3D™?</h3>
  <div class="uv-blu-ray-whats-new">
      <div class="uv-blu-ray-whats-new-text-wrapper">
          <p class="uv-blu-ray-black-lg-text">The Box Trolls</p>
          <p class="uv-blu-ray-gray-lg-text">Own it On Blu-ray 3D™</p>
          <p class="uv-blu-ray-gray-small-text">*Bonus Materials Not Rated. Not All Subtitled.</p>
      </div>
      <div class="uv-blu-ray-whats-new-img-wrapper">
          <img src="/sites/all/themes/aurora/images/uv-blu-ray-bt.png"/>
      </div>
  </div>
  <div class="uv-blu-ray-get-started bg-vertical-gradient-blue">
      <h3>HERE’s HOW YOU GET STARTED:</h3>
      <img src="/sites/all/themes/aurora/images/uv-blu-ray-get-started.png"/>
  </div>
</div>
<div class="uv-blu-ray-bottom">
    <div class="uv-blu-ray-bottom-block">
        <h2  class="faq-topic">uHear™</h2>
        <p class="centered-text">Did you miss a critical line of dialogue while watching?
            <br/>
            Play it back instantly with subtitles via uHear™ to see (and hear again) what you were missing.
        </p>
        <div class="uv-blu-ray-bottom-img-wrapper">
            <img class="centered" src="/sites/all/themes/aurora/images/uv-blu-ray-uhear.png"/>
        </div>
        <p>Its compact, easy-to-recognize symbols don't stop or block the action as you watch, and puts you in command of when and how you want to view your extra options.</p>
        <div class="yellow-btn"> <span></span><p>Press the yellow button on your Blu-ray™ remote and uHear™ jumps the track back 15 seconds, then replaying those seconds again, accompanied by subtitles. Once you're back to where you were, the subtitles turns back off, and regular play continues.</p></div>
        <h2 class="faq-topic">Experience The Ticker</h2>
        <p class="centered-text">Activate the function to access up-to-the-minute information on releases, products, and great movie related content.</p>
        <div class="uv-blu-ray-bottom-img-wrapper">
            <img class="centered" src="/sites/all/themes/aurora/images/uv-blu-ray-ticker.png"/>
        </div>
    </div>
</div>
