<ul>
  <li><span class="icon-minus"></span> \e375 icon-minus</li>
  <li><span class="icon-plus"></span> \e376 icon-plus</li>
  <li><span class="icon-googleplus"></span> \e600 icon-googleplus</li>
  <li><span class="icon-facebook"></span> \e601 icon-facebook</li>
  <li><span class="icon-instagram"></span> \e602 icon-instagram</li>
  <li><span class="icon-twitter"></span> \e603 icon-twitter</li>
  <li><span class="icon-pinterest"></span> \e604 icon-pinterest</li>
  <li><span class="icon-arrow-down"></span> \e605 icon-arrow-down</li>
  <li><span class="icon-play"></span> \e606 icon-play</li>
  <li><span class="icon-pause"></span> \e607 icon-pause</li>
  <li><span class="icon-stop"></span> \e608 icon-stop</li>
  <li><span class="icon-backward"></span> \e609 icon-backward</li>
  <li><span class="icon-forward"></span> \e60a icon-forward</li>
  <li><span class="icon-volume-high"></span> \e60b icon-volume-high</li>
  <li><span class="icon-volume-medium"></span> \e60c icon-volume-medium</li>
  <li><span class="icon-volume-low"></span> \e60d icon-volume-low</li>
  <li><span class="icon-volume-mute"></span> \e60e icon-volume-mute</li>
  <li><span class="icon-volume-mute2"></span> \e60f icon-volume-mute2</li>
  <li><span class="icon-volume-increase"></span> \e610 icon-volume-increase</li>
  <li><span class="icon-volume-decrease"></span> \e611 icon-volume-decrease</li>
  <li><span class="icon-close"></span> \e612 icon-close</li>
  <li><span class="icon-checkmark"></span> \e613 icon-checkmark</li>
  <li><span class="icon-search"></span> \e614 icon-search</li>
  <li><span class="icon-menu"></span> \e615 icon-menu</li>
  <li><span class="icon-chevron-up"></span> \e616 icon-chevron-up</li>
  <li><span class="icon-unlocked"></span> \e990 icon-unlocked</li>
  <li><span class="icon-chevron-left"></span> \f053 icon-chevron-left</li>
  <li><span class="icon-chevron-right"></span> \f054 icon-chevron-right</li>
  <li><span class="icon-times-circle"></span> \f057 icon-times-circle</li>
</ul>
