{{# page_messages? }}
  <div id="messages" role="alertdialog">{{{ page_messages }}}</div>
{{/ page_messages? }}
<div id="page" role="document">
  <div class="header-default-bg"></div>
  <header id="header" role="banner" class="clearfix">
    {{# 02_global_header }}
      {{> 03-templates/system/region(02_global_header\?: true) }}
    {{/ 02_global_header }}
  </header>
  <!-- #content-prefix -->
  {{# page_main_prefix? }}
    {{{ page_main_prefix }}}
  {{/ page_main_prefix? }}
  {{{ page_breadcrumb }}}
  <main id="main" role="main" class="clearfix">
    <article id="content" role="article" class="column">
      {{# page_highlighted? }}<div id="highlighted">{{{ page_highlighted }}}</div>{{/ page_highlighted? }}
      <a id="main-content"></a>
      {{{ page_title_prefix }}}
      {{! Resources on HTML5 being OK with multiple H1s on a page:
          Google Webmasters: https://www.youtube.com/watch?v=GIn5qJKU8VM
          http://webdesign.tutsplus.com/articles/the-truth-about-multiple-h1-tags-in-the-html5-era--webdesign-16824
          http://www.writingforseo.org/how-many-h1-tags-can-you-have-on-a-page/
          They are ok if they are headings for self-contained semantic content
          elements like <article>.
      }}
      {{# page_title? }}<h1 class="title" id="page-title">{{{ page_title }}}</h1>{{/ page_title? }}
      {{{ page_title_suffix }}}
      {{# page_tabs? }}<div class="tabs">{{{ page_tabs }}}</div>{{/ page_tabs? }}
      {{{ page_help }}}
      {{# page_action_links? }}<ul class="action-links">{{{ page_action_links }}}</ul>{{/ page_action_links? }}
