<div class="panel-pane pane-entity-field pane-node-field-formats">
  <header><h2 class="pane-title">Find Out More</h2><h3>Choose a format and edition</h3></header>
  {{#format_blu_ray}}
    {{> 02-organisms/accordions/_format-editions~format}}
  {{/format_blu_ray}}
  {{#format_dvd}}
    {{> 02-organisms/accordions/_format-editions~format}}
  {{/format_dvd}}
  {{#format_digital_hd}}
    {{> 02-organisms/accordions/_format-editions~format}}
  {{/format_digital_hd}}
  {{#format_ondemand}}
    {{> 02-organisms/accordions/_format-editions~format}}
  {{/format_ondemand}}
</div>
