<div class="fieldable-panels-pane">
  {{# 02_offers_panel_hero? }}
    {{> 03-templates/field/field(02_offers_panel_hero\?: true) }}
  {{/ 02_offers_panel_hero? }}
  {{# 02_offers_panel_bottom_gridspan? }}
    {{> 03-templates/field/field(02_offers_panel_bottom_gridspan\?: true) }}
  {{/ 02_offers_panel_bottom_gridspan? }}
</div>
