{{> 03-templates/_nosync/panes/__panels-pane--aside-prefix }}

  {{# 03_panels_panels_pane__aside? }}
    {{{ template_content }}}
  {{/ 03_panels_panels_pane__aside? }}



  {{!///////////////////////////////////////////////////////////////////////////
  /// ORGANISMS START ////////////////////////////////////////////////////////}}

  {{# 02_sections_title_info? }}
    {{! Including a variant of panels-pane--aside.mustache because it needs to
        be included here as an organism and further down this file as part of a
        page. }}
    {{> 03-templates/_nosync/panes/_panels-pane--aside~title-info }}
  {{/ 02_sections_title_info? }}

  {{! ORGANISMS END ////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// ERROR 404 START ////////////////////////////////////////////////////////}}

  {{# 04_error_404? }}
    {{> 03-templates/panes/panels-pane--section(04_error_404\?: true) }}
  {{/ 04_error_404? }}

  {{! ERROR 404 END ////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// HOMEPAGE START /////////////////////////////////////////////////////////}}

  {{# dynamic_leads? }}
    {{# dynamic_leads }}
      {{> 03-templates/panes/panels-pane--section(dynamic_leads\?: true) }}
    {{/ dynamic_leads }}
  {{/ dynamic_leads? }}

  {{# media_strip_recent_videos? }}  
    {{# media_strip_recent_videos }}  
      {{> 03-templates/panes/panels-pane--section(media_strip_recent_videos\?: true) }}
    {{/ media_strip_recent_videos }}  
  {{/ media_strip_recent_videos? }}  

  {{# titles_strip_available_now? }}
    {{# available_now }}
      {{> 03-templates/panes/panels-pane--section(titles_strip_available_now\?: true) }}
    {{/ available_now }}
  {{/ titles_strip_available_now? }}

  {{# favorites_and_social? }}
    {{# favorites }}
      {{> 03-templates/panes/panels-pane--section(titles_strip_favorites\?: true) }}
    {{/ favorites }}

    {{# social_pane }}
      {{> 03-templates/panes/panels-pane--section(social_pane\?: true) }}
    {{/ social_pane }}
  {{/ favorites_and_social? }}

  {{! HOMEPAGE END /////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// TITLE DETAIL START /////////////////////////////////////////////////////}}

  {{# title_top_iconic? }}
    {{# poster_art }}
      {{> 03-templates/panes/panels-pane--section(poster_art\?: true) }}
    {{/ poster_art }}

    {{# title_available_and_buy_now }}
      {{> 03-templates/panes/panels-pane--section(available_and_buy_now\?: true) }}
    {{/ title_available_and_buy_now }}

    {{! has_title_page_video? }}
      {{# title_info}}
        {{# field_name_body}}
          {{> 03-templates/panes/panels-pane--section(title_synopsis\?: true) }}
        {{/ field_name_body}}
      {{/ title_info}}
    {{! has_title_page_video? }}

    {{! has_title_page_video? }}
      {{# title_page_video }}
        {{> 03-templates/panes/panels-pane--section(title_page_video\?: true) }}
      {{/ title_page_video }}
    {{! has_title_page_video? }}

    {{# 02_sections_stay_connected }}
      {{> 03-templates/panes/panels-pane--section(stay_connected\?: true) }}
    {{/ 02_sections_stay_connected }}
  {{/ title_top_iconic? }}


  {{# title_media_full_width? }}
    {{^ 04_title_detail_no_slider? }}
      {{# media_strip_titles_page }}
        {{> 03-templates/panes/panels-pane--section(media_strip\?: true) }}
      {{/ media_strip_titles_page }}
    {{/ 04_title_detail_no_slider? }}

    {{# 02_promos_promo_banner }}
      {{^ 04_title_detail_no_promo? }}
        {{> 03-templates/panes/panels-pane--section(promo_banner\?: true) }}
      {{/ 04_title_detail_no_promo? }}
    {{/ 02_promos_promo_banner }}
  {{/ title_media_full_width? }}


  {{# title_info_column_left? }}
    {{> 03-templates/_nosync/panes/_panels-pane--aside~title-info }}
  {{/ title_info_column_left? }}


  {{# title_info_column_right? }}
    {{# 02_accordions_format_editions_movie? }}
      {{# format_features_data }}
        {{> 03-templates/_nosync/panes/_panels-pane~format-editions }}
        {{> 03-templates/_nosync/panes/_panels-pane--section~titles-strip~sequels }}
      {{/ format_features_data }}
    {{/ 02_accordions_format_editions_movie? }}

    {{# 02_accordions_format_editions_tv? }}
      {{# complete_series_data }}
        {{> 03-templates/_nosync/panes/_panels-pane~format-editions }}
        {{> 03-templates/_nosync/panes/_panels-pane--section~titles-strip~seasons }}
      {{/ complete_series_data }}
    {{/ 02_accordions_format_editions_tv? }}

    {{# you_may_also_like }}
      {{> 03-templates/_nosync/panes/_panels-pane~titles-strip~you-may-also-like }}
    {{/ you_may_also_like }}

    {{# 02_social_facebook_stream }}
      {{> 03-templates/panes/panels-pane--section(facebook_stream\?: true) }}
    {{/ 02_social_facebook_stream }}
  {{/ title_info_column_right? }}


  {{# title_bottom_full_width? }}
    {{# media_strip_downloads_and_games }}
      {{> 03-templates/panes/panels-pane--section(downloads_and_games\?: true) }}
    {{/ media_strip_downloads_and_games }}
  {{/ title_bottom_full_width? }}

  {{! TITLE DETAIL END /////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



{{> 03-templates/_nosync/panes/__panels-pane--aside-suffix }}
