<div class="item-list">
  <h3>{{titleshub_name}}</h3>
  {{#quicktabs}}
    <ul class="quicktabs-tabs quicktabs-style-nostyle">
      <li class="active first"><a href="#" id="quicktabs-tab-{{quicktabs_machine_name}}-0" class="active ajax-processed">Movies</a></li>
      <li class="last"><a href="/patterns/03-templates-_nosync-quicktabs-titles-strip-{{quicktabs_url_name}}/03-templates-_nosync-quicktabs-titles-strip-{{quicktabs_url_name}}.html" id="quicktabs-tab-{{quicktabs_machine_name}}-1" class="active ajax-processed">TV</a></li>
    </ul>
  {{/quicktabs}}
</div>
