{{! drupal_docblock }}
<div class="panel-display panel-art-right clearfix" {{# css_id }}id="{{ css_id }}"{{/ css_id }}>
  <div class="panel-panel panel-col-top">
    <div class="inside">
      {{> 02-organisms/offers/offers-panel-top }}
      </div>
  </div>

  <div class="panel-panel panel-row-middle">
    <div class="panel-panel panel-col-first">
      <div class="inside">
        {{# offers_panel_col }}
          {{# offers_panel_left_middle }}
            {{> 03-templates/panes/panels-pane(02_offers_panel_col\?: true) }}
          {{/ offers_panel_left_middle }}
        {{/ offers_panel_col }}
      </div>
    </div>

    <div class="panel-panel panel-col-last">
      <div class="inside">
        {{# offers_panel_hero }}
          {{> 03-templates/panes/panels-pane(02_offers_panel_hero\?: true) }}
        {{/ offers_panel_hero }}
      </div>
    </div>
  </div>

  <div class="panel-panel panel-col-bottom">
    <div class="inside">
      {{> 02-organisms/offers/offers-panel-bottom }}
      </div>
  </div>
</div>
