{{# title_info }}
  {{# field_name_field_rating }}
    {{> 03-templates/panes/panels-pane--section(title_rating\?: true) }}
  {{/ field_name_field_rating }}

  {{# field_name_field_genre }}
    {{> 03-templates/panes/panels-pane--section(title_genre\?: true) }}
  {{/ field_name_field_genre }}

  {{# field_name_body }}
    {{! has_title_page_video? }}
      {{> 03-templates/panes/panels-pane--section(title_synopsis\?: true) }}
    {{! has_title_page_video? }}
  {{/ field_name_body }}

  {{# field_name_field_people }}
    {{> 03-templates/panes/panels-pane--section(title_cast_crew\?: true) }}
  {{/ field_name_field_people }}
{{/ title_info }}
