<section class="panel-pane pane-entity-field pane-node-field-seasons">
  <header>
    <h2 class="pane-title arrow-down">Seasons<span class="icon-arrow-down"></span></h2>
  </header>
  {{# field_seasons }}
    {{> 03-templates/field/field(seasons\?: true) }}
  {{/ field_seasons }}
</section>
