<div class="{{ entity_classes }} {{ entity_unique_class }} clearfix"{{ entity_attributes }}>
  <h2{{ entity_title_attributes }}>{{{ entity_title }}}</h2>

  <div class="content"{{ entity_content_attributes }}>
    <div class="offers-strip--wrapper" style="clear: both;">
      {{! template_content }}

      {{# 02_offers_panel_col? }}
        {{> 03-templates/field/_field--field-qt-offer(02_offers_panel_col\?: true) }}
      {{/ 02_offers_panel_col? }}

      {{# 02_offers_panel_bottom? }}
        {{> 03-templates/field/_field--field-qt-offer(02_offers_panel_bottom\?: true) }}
      {{/ 02_offers_panel_bottom? }}

      {{# 02_offers_panel_bottom_2? }}
        {{> 03-templates/field/_field--field-qt-offer(02_offers_panel_bottom_2\?: true) }}
      {{/ 02_offers_panel_bottom_2? }}

      {{# 02_offers_panel_bottom_gridspan? }}
        {{> 03-templates/field/_field--field-qt-offer(02_offers_panel_bottom_gridspan\?: true) }}
      {{/ 02_offers_panel_bottom_gridspan? }}
    </div>
  </div>
</div>
