<div class="field-item even">
  <div class="field-collection-view clearfix">
    <fieldset class="collapsible form-wrapper">
      <legend>
        <span class="fieldset-legend">
          <div class="field field-name-field-feature-title field-type-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                Disc 1
              </div>
            </div>
          </div>
        </span>
      </legend>

      <div class="fieldset-wrapper">
        <div class="field field-name-field-special-features field-type-text field-label-above">
          <div class="field-label">
            Special Features&nbsp;
          </div>

          <div class="field-items">
            <div class="field-item even">
              Digital Copy
            </div>

            <div class="field-item odd">
              Includes UltraViolet
            </div>

            <div class="field-item even">
              Deleted/Extended/Alternate Scenes
            </div>

            <div class="field-item odd">
              Full Song Performances
            </div>

            <div class="field-item even">
              Extended Song Performances
            </div>

            <div class="field-item odd">
              Long Journey to the Screen
            </div>

            <div class="field-item odd">
              The Family
            </div>

            <div class="field-item even">
              On Stage with the Hardest Working Man
            </div>

            <div class="field-item odd">
              The Founding Father
            </div>

            <div class="field-item even">
              Master Class
            </div>

            <div class="field-item odd">
              Feature Commentary with Director/Producer
            </div>
          </div>
        </div>

        <div class="field-collection-container clearfix">
          <div class="field field-name-field-technical-information field-type-field-collection field-label-above">
            <div class="field-label">
              Technical Information&nbsp;
            </div>

            <div class="field-items">
              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 19 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English DTS-HD Master Audio 5.1</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English DVS Dolby Digital 2.0 Stereo</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">French Canadian DTS Digital Surround 5.1</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">Spanish DTS Digital Surround 5.1</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">French</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full field-collection-view-final">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
