<div class="field-item odd">
  <div class="field-collection-view clearfix">
    <fieldset class="collapsible form-wrapper collapsed">
      <legend>
        <span class="fieldset-legend">
          <div class="field field-name-field-feature-title field-type-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                Season Six
              </div>
            </div>
          </div>
        </span>
      </legend>

      <div class="fieldset-wrapper">
        <div class="field field-name-field-special-features field-type-text field-label-above">
          <div class="field-label">
            Special Features&nbsp;
          </div>

          <div class="field-items">
            <div class="field-item even">
              Deleted Scenes
            </div>

            <div class="field-item odd">
              Niagara Commentary
            </div>

            <div class="field-item even">
              Niagara Commentary
            </div>

            <div class="field-item odd">
              Deleted Scenes
            </div>

            <div class="field-item even">
              Murder Commentary
            </div>

            <div class="field-item odd">
              Deleted Scenes
            </div>

            <div class="field-item even">
              Welcome
            </div>

            <div class="field-item odd">
              Secret Santa Commentary
            </div>

            <div class="field-item even">
              The Delivery Commentary
            </div>

            <div class="field-item odd">
              Deleted Scenes
            </div>

            <div class="field-item even">
              Happy Hour Commentary
            </div>

            <div class="field-item odd">
              Deleted Scenes
            </div>

            <div class="field-item even">
              Blooper Reel
            </div>

            <div class="field-item odd">
              Original Digital Short
            </div>

            <div class="field-item even">
              Canada Games
            </div>

            <div class="field-item odd">
              Hunting Trip
            </div>
          </div>
        </div>

        <div class="field-collection-container clearfix">
          <div class="field field-name-field-technical-information field-type-field-collection field-label-above">
            <div class="field-label">
              Technical Information&nbsp;
            </div>

            <div class="field-items">
              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 12 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 13 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 41 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">1 Hour(s) 51 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">1 Hour(s) 7 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full field-collection-view-final">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
