<div class="field-item even">
  <div class="field-collection-view clearfix">
    <fieldset class="collapsible form-wrapper">
      <legend>
        <span class="fieldset-legend">
          <div class="field field-name-field-feature-title field-type-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                Season One
              </div>
            </div>
          </div>
        </span>
      </legend>

      <div class="fieldset-wrapper">
        <div class="field field-name-field-special-features field-type-text field-label-above">
          <div class="field-label">
            Special Features&nbsp;
          </div>

          <div class="field-items">
            <div class="field-item even">Deleted Scenes</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
            <div class="field-item odd">Ut nibh tellus, mattis sed leo sed, vehicula faucibus justo. Cras tempor in ex non suscipit. Curabitur sit amet interdum mi, convallis finibus nulla.</div>
            <div class="field-item even">Sed tincidunt neque quam, non pulvinar orci dapibus non. In tristique dignissim lacus eget dictum. Vivamus non porta urna.</div>
            <div class="field-item odd">Praesent sagittis sapien nec quam malesuada, eu convallis enim aliquam. Fusce vel diam pharetra, eleifend orci sit amet, finibus mi.</div>
            <div class="field-item even">Fusce blandit efficitur tincidunt. Aliquam turpis lectus, condimentum et velit quis, interdum pretium tellus.</div>
            <div class="field-item odd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim non ante mattis, ac mattis mauris semper.</div>
          </div>
        </div>

        <div class="field-collection-container clearfix">
          <div class="field field-name-field-technical-information field-type-field-collection field-label-above">
            <div class="field-label">
              Technical Information&nbsp;
            </div>

            <div class="field-items">
              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 15 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 2.0 Stereo</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full field-collection-view-final">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
