<div class="field field-name-field-stay-connected field-type-entityreference field-label-above init">
  <header><h2 class="{{ header_class }}">{{{ section_title_social }}}</h2></header>
  <div class="close-button-wrapper icon-chevron-left"></div>
  <ul class="menu field-items">
    {{# social_links }}
      <li class="leaf">{{> molecules-social-item }}</li>
    {{/ social_links }}
  </ul>
</div>
