<div id="{{retailer_format_class}}-{{promo_id}}" class="format-retailers-wrapper {{retailer_format_class}}">
  <h2>{{retailer_format}}</h2>
  <div class="retailer-overlay--wrapper">
    <div class="retailer-overlay">
      <h2>{{retailer_overlay_title}}</h2>
      <div class="retailer-overlay--own-it">
        Own it on {{retailer_format}}
      </div>
      <div class="retailer-overlay--retailers">
        <div class="retailer-overlay--select">Select from our retailers below:</div>
        {{#retailer_links}}
          {{> molecules-retailer-link}}
        {{/retailer_links}}
      </div>
    </div>
  </div>
</div>
