<div class="{{ faq_view_row_classes }}">
  <div class="views-field views-field-title views-accordion-header">
    <h2 class="field-content">{{ faq_view_row_header }}</h2>
  </div>  
  <div class="views-field views-field-body">
    <div class="field-content">
      {{{ faq_view_row_content }}}
    </div>
  </div>
</div>
