<div class="media-strip--wrapper">
  <div class="owl-carousel media-strip {{media_strip_class}}">
    {{#media_strip}}
      <div class="{{field_classes}} item">
        {{> molecules-medium-strip}}
      </div> 
    {{/media_strip}}
  </div> 
</div> 
