<div class="field-item even">
  <div class="field-collection-view clearfix">
    <fieldset class="collapsible form-wrapper collapsed">
      <legend>
        <span class="fieldset-legend">
          <div class="field field-name-field-feature-title field-type-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                Season Five
              </div>
            </div>
          </div>
        </span>
      </legend>

      <div class="fieldset-wrapper">
        <div class="field field-name-field-special-features field-type-text field-label-above">
          <div class="field-label">
            Special Features&nbsp;
          </div>

          <div class="field-items">
            <div class="field-item even">
              Deleted Scenes
            </div>

            <div class="field-item odd">
              Weight Loss Commentary
            </div>

            <div class="field-item even">
              Business Ethics Commentary
            </div>

            <div class="field-item odd">
              Employee Transfer Commentary
            </div>

            <div class="field-item even">
              Deleted Scenes
            </div>

            <div class="field-item odd">
              Customer Survey Commentary
            </div>

            <div class="field-item even">
              Christmas Commentary
            </div>

            <div class="field-item odd">
              The Duel Commentary
            </div>

            <div class="field-item even">
              Deleted Scenes
            </div>

            <div class="field-item odd">
              Deleted Scenes
            </div>

            <div class="field-item even">
              Dream Team Commentary
            </div>

            <div class="field-item even">
              Gag Reel
            </div>

            <div class="field-item odd">
              Deleted Scenes
            </div>

            <div class="field-item even">
              Academy Of Television Arts &amp; Sciences
            </div>

            <div class="field-item odd">
              Webisodes
            </div>

            <div class="field-item even">
              Casual Friday Commentary
            </div>

            <div class="field-item odd">
              Company Picnic Commentary
            </div>

            <div class="field-item even">
              Promos
            </div>

            <div class="field-item odd">
              100 Episodes, 100 Moments
            </div>
          </div>
        </div>

        <div class="field-collection-container clearfix">
          <div class="field field-name-field-technical-information field-type-field-collection field-label-above">
            <div class="field-label">
              Technical Information&nbsp;
            </div>

            <div class="field-items">
              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 9 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 11 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 9 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">2 Hour(s) 10 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Run Time:</span> <span class="field-item">1 Hour(s) 27 Minutes</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Language &amp; Audio:</span> <span class="field-item">English Dolby Digital 5.1 Surround</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Picture:</span> <span class="field-item">Anamorphic Widescreen / Color</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item odd">
                <div class="field-collection-view clearfix view-mode-full">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">Spanish</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field-item even">
                <div class="field-collection-view clearfix view-mode-full field-collection-view-final">
                  <div class="entity entity-field-collection-item field-collection-item-field-technical-information clearfix">
                    <div class="content">
                      <span class="field-item">Subtitles:</span> <span class="field-item">English SDH</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
