<h3>Follow us on Instagram</h3>
<div class="instagram-social-feed">
  <ul class="clearfix owl-carousel">
    <li class="social-feed-item social-feed-item-1 social-feed-item-odd social-feed-item-first">
      <a href="https://instagram.com/p/21jPUjltom/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11296807_1510177242575395_1898566424_n.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-2 social-feed-item-even">
      <a href="https://instagram.com/p/21jJsoFtob/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11282232_299422940249802_1057301965_n.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-3 social-feed-item-odd">
      <a href="https://instagram.com/p/21jBF2FtoJ/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s320x320/e15/1390405_1585556051711920_755342805_n.jpg" alt="Test">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-4 social-feed-item-even">
      <a href="https://instagram.com/p/ZQVKHeltmt/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xfa1/outbound-distilleryimage1/t0.0-17/OBPTH/d6e9cc68bbd811e2a4d822000a1f924b_6.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-5 social-feed-item-odd">
      <a href="https://instagram.com/p/21jPUjltom/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11296807_1510177242575395_1898566424_n.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-6 social-feed-item-even">
      <a href="https://instagram.com/p/21jJsoFtob/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11282232_299422940249802_1057301965_n.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-7 social-feed-item-odd">
      <a href="https://instagram.com/p/21jBF2FtoJ/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s320x320/e15/1390405_1585556051711920_755342805_n.jpg" alt="Test">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-8 social-feed-item-even">
      <a href="https://instagram.com/p/ZQVKHeltmt/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xfa1/outbound-distilleryimage1/t0.0-17/OBPTH/d6e9cc68bbd811e2a4d822000a1f924b_6.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-5 social-feed-item-odd">
      <a href="https://instagram.com/p/21jPUjltom/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11296807_1510177242575395_1898566424_n.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-6 social-feed-item-even">
      <a href="https://instagram.com/p/21jJsoFtob/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11282232_299422940249802_1057301965_n.jpg" alt="">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-7 social-feed-item-odd">
      <a href="https://instagram.com/p/21jBF2FtoJ/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s320x320/e15/1390405_1585556051711920_755342805_n.jpg" alt="Test">
      </a>
    </li>
    <li class="social-feed-item social-feed-item-8 social-feed-item-even social-feed-item-last">
      <a href="https://instagram.com/p/ZQVKHeltmt/" target="_blank">
        <img src="https://scontent.cdninstagram.com/hphotos-xfa1/outbound-distilleryimage1/t0.0-17/OBPTH/d6e9cc68bbd811e2a4d822000a1f924b_6.jpg" alt="">
      </a>
    </li>
  </ul>
</div>
