<form class="search-form" action="search-results" method="get" id="views-exposed-form-search-results-panel-pane-1" accept-charset="UTF-8">
  <div>
    {{> 03-templates/views/_views-exposed-form--search_results--panel-pane }}
  </div>
</form>
