<article id="node-" class="clearfix">

  <header>
    {{{title_prefix}}}
    {{#page}}
      <h2><a href="#" rel="bookmark">{{{title}}}</a></h2>
    {{/page}}
    {{{title_suffix}}}
  </header>

  {{#display_submitted}}
    <footer>
      {{{user_picture}}}
      <p class="submitted">{{{submitted}}}</p>
    </footer>
  {{/display_submitted}}

  <div class="content">
      {{{content}}}
  </div>

  {{{links}}}
  {{{comments}}}

</article>
