<div class="field field-name-body field-type-text-with-summary">
  <div class="field-items">
    <div class="field-item even">
      <h2>Request Details</h2>
      <p>In order to contact us we will need you to make a selection below to help us with your request.</p>
    </div>
  </div>
</div>
<form class="webform-client-form webform-client-form-12586 webform-conditional-processed" enctype="multipart/form-data" action="/node/12586" method="post" id="webform-client-form-12586" accept-charset="UTF-8">
  <div>
    <div class="webform-layout-box horiz webform-component--name-layout">
      <div class="form-item webform-component webform-component-textfield webform-component--name-layout--first-name">
        <label for="edit-submitted-name-layout-first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
        <input required="required" type="text" id="edit-submitted-name-layout-first-name" name="submitted[name_layout][first_name]" value="" size="60" maxlength="128" class="form-text required">
      </div>
      <div class="form-item webform-component webform-component-textfield webform-component--name-layout--last-name">
        <label for="edit-submitted-name-layout-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
        <input required="required" type="text" id="edit-submitted-name-layout-last-name" name="submitted[name_layout][last_name]" value="" size="60" maxlength="128" class="form-text required">
      </div>
    </div>
    <div class="form-item webform-component webform-component-email webform-component--email-address">
      <label for="edit-submitted-email-address">Email Address <span class="form-required" title="This field is required.">*</span></label>
      <input required="required" class="email form-text form-email required" type="email" id="edit-submitted-email-address" name="submitted[email_address]" size="60">
    </div>
    <div class="webform-layout-box horiz webform-component--format-layout">
      <div class="form-item webform-component webform-component-select webform-component--format-layout--format">
        <label for="edit-submitted-format-layout-format">Format <span class="form-required" title="This field is required.">*</span></label>
        <select required="required" class="chosen-enable form-select required chosen-processed" id="edit-submitted-format-layout-format" name="submitted[format_layout][format]" style="display: none;">
          <option value="" selected="selected">- Select -</option>
          <option value="blu_ray">Blu-ray</option>
          <option value="dvd">DVD</option>
          <option value="digital_hd">Digital HD</option>
          <option value="ondemand">On Demand</option>
          <option value="ultraviolet">UltraViolet</option>
          <option value="digital_copy">Digital Copy</option>
          <option value="other">Other</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select required chosen-processed chosen-container-single-nosearch" style="width: 260px;" title="" id="edit_submitted_format_layout_format_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>Blu-ray</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
            <ul class="chosen-results">
              <li class="active-result result-selected" data-option-array-index="0">- Select -</li>
              <li class="active-result result-selected" data-option-array-index="1">Blu-ray</li>
              <li class="active-result" data-option-array-index="2">DVD</li>
              <li class="active-result" data-option-array-index="3">Digital HD</li>
              <li class="active-result" data-option-array-index="4">On Demand</li>
              <li class="active-result" data-option-array-index="5">UltraViolet</li>
              <li class="active-result" data-option-array-index="6">Digital Copy</li>
              <li class="active-result" data-option-array-index="7">Other</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-item webform-component webform-component-select webform-component--format-layout--help-dvd" style="display: inline-block;">
        <label for="edit-submitted-format-layout-help-dvd">What Can We Help You With? (Blu-ray or DVD) <span class="form-required" title="This field is required.">*</span></label>
        <select required="required" class="chosen-enable form-select required chosen-processed" id="edit-submitted-format-layout-help-dvd" name="submitted[format_layout][help_dvd]" style="display: none;">
          <option value="" selected="selected">- Select -</option>
          <option value="redemption">Digital Movie/TV Code Redemption</option>
          <option value="physical_disk">Physical Disc Issue/Question</option>
          <option value="availability">Title Availability</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select required chosen-processed chosen-container-single-nosearch chosen-container-active" style="width: 200px;" title="" id="edit_submitted_format_layout_help_dvd_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>Digital Movie/TV Code Redemption</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
            <ul class="chosen-results"></ul>
          </div>
        </div>
      </div>
      <div class="form-item webform-component webform-component-select webform-component--format-layout--help-digital-hd webform-conditional-hidden" style="display: none;">
        <label for="edit-submitted-format-layout-help-digital-hd">What Can We Help You With? (Digital HD) <span class="form-required" title="This field is required.">*</span></label>
        <select required="required" class="chosen-enable form-select required webform-conditional-disabled chosen-processed" id="edit-submitted-format-layout-help-digital-hd" name="submitted[format_layout][help_digital_hd]" disabled="" style="display: none;">
          <option value="" selected="selected">- Select -</option>
          <option value="redemption">Digital Movie/TV Code Redemption</option>
          <option value="digital_purchase">Digital Movie/TV Purchase</option>
          <option value="availbility">Title Availability</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select required webform-conditional-disabled chosen-processed chosen-container-single-nosearch chosen-disabled" style="width: 200px;" title="" id="edit_submitted_format_layout_help_digital_hd_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>- Select -</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly="" disabled=""></div>
            <ul class="chosen-results"></ul>
          </div>
        </div>
      </div>
      <div class="form-item webform-component webform-component-select webform-component--format-layout--help-other webform-conditional-hidden" style="display: none;">
        <label for="edit-submitted-format-layout-help-other">What Can We Help You With? (Other) <span class="form-required" title="This field is required.">*</span></label>
        <select required="required" class="chosen-enable form-select required webform-conditional-disabled chosen-processed" id="edit-submitted-format-layout-help-other" name="submitted[format_layout][help_other]" disabled="" style="display: none;">
          <option value="" selected="selected">- Select -</option>
          <option value="redemption">Digital Movie/TV Code Redemption</option>
          <option value="physical_disk">Physical Disc Issue/Question</option>
          <option value="digital_purchase">Digital Movie/TV Purchase</option>
          <option value="availability">Title Availability</option>
          <option value="other">Other</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select required webform-conditional-disabled chosen-processed chosen-container-single-nosearch chosen-disabled" style="width: 200px;" title="" id="edit_submitted_format_layout_help_other_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>- Select -</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly="" disabled=""></div>
            <ul class="chosen-results"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="form-item webform-component webform-component-select webform-component--request-type" style="display: block;">
      <label for="edit-submitted-request-type">Request Type </label>
      <select class="chosen-enable form-select chosen-processed" id="edit-submitted-request-type" name="submitted[request_type]" style="display: none;">
        <option value="" selected="selected">- None -</option>
        <option value="digital_copy">Digital Copy Playback</option>
        <option value="system_requirements">Minimum System Requirements</option>
        <option value="redemption">Redemption Code Issues</option>
        <option value="other">Other</option>
      </select>
      <div class="chosen-container chosen-container-single chosen-enable form-select chosen-processed chosen-container-single-nosearch" style="width: 200px;" title="" id="edit_submitted_request_type_chosen">
        <a class="chosen-single" tabindex="-1">
          <span>- None -</span>
          <div><b></b></div>
        </a>
        <div class="chosen-drop">
          <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
          <ul class="chosen-results"></ul>
        </div>
      </div>
    </div>
    <div class="webform-layout-box horiz webform-component--technical-info-layout" style="display: block;">
      <div class="form-item webform-component webform-component-select webform-component--technical-info-layout--retailer-media-player">
        <label for="edit-submitted-technical-info-layout-retailer-media-player">Retailer/Media Player </label>
        <select class="chosen-enable form-select chosen-processed" id="edit-submitted-technical-info-layout-retailer-media-player" name="submitted[technical_info_layout][retailer_media_player]" style="display: none;">
          <option value="" selected="selected">- None -</option>
          <option value="cinemanow">CinemaNow</option>
          <option value="cinemanow_uv">CinemaNow UV</option>
          <option value="cinemaplex_uv">Cineplex UV</option>
          <option value="flixter_uv">Flixster UV</option>
          <option value="itunes">iTunes</option>
          <option value="vudu">Vudu</option>
          <option value="vudu_uv">Vudu UV</option>
          <option value="other">Other</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select chosen-processed chosen-container-single-nosearch" style="width: 260px;" title="" id="edit_submitted_technical_info_layout_retailer_media_player_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>- None -</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
            <ul class="chosen-results"></ul>
          </div>
        </div>
      </div>
      <div class="form-item webform-component webform-component-select webform-component--technical-info-layout--operating-system">
        <label for="edit-submitted-technical-info-layout-operating-system">Operating System </label>
        <select class="chosen-enable form-select chosen-processed" id="edit-submitted-technical-info-layout-operating-system" name="submitted[technical_info_layout][operating_system]" style="display: none;">
          <option value="" selected="selected">- None -</option>
          <option value="android_4x">Android 4.x</option>
          <option value="mac_osx">Macintosh OS X</option>
          <option value="mobile_ios7">Mobile iOS 7.x</option>
          <option value="mobile_ios8">Mobile iOS 8.x</option>
          <option value="windows_xp">Windows XP</option>
          <option value="windows_vista">Windows Vista</option>
          <option value="windows_7">Windows 7</option>
          <option value="windows_8">Windows 8</option>
          <option value="other">Other</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select chosen-processed chosen-container-single-nosearch" style="width: 260px;" title="" id="edit_submitted_technical_info_layout_operating_system_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>- None -</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
            <ul class="chosen-results"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="webform-layout-box horiz webform-component--title-layout">
      <div class="form-item webform-component webform-component-textfield webform-component--title-layout--title webform-conditional-hidden" role="application" style="display: none;">
        <label for="edit-submitted-title-layout-title">Title <span class="form-required" title="This field is required.">*</span></label>
        <input required="required" type="text" id="edit-submitted-title-layout-title" name="submitted[title_layout][title]" value="" size="60" maxlength="128" class="form-text required form-autocomplete webform-conditional-disabled" autocomplete="OFF" aria-autocomplete="list" disabled=""><input type="hidden" id="edit-submitted-title-layout-title-autocomplete" value="http://int.uphe.com/node/autocomplete" class="autocomplete autocomplete-processed webform-conditional-disabled" disabled="">
        <span class="element-invisible" aria-live="assertive" id="edit-submitted-title-layout-title-autocomplete-aria-live"></span>
      </div>
      <div class="form-item webform-component webform-component-textfield webform-component--title-layout--redeemable" role="application" style="display: inline-block;">
        <label for="edit-submitted-title-layout-redeemable">Title <span class="form-required" title="This field is required.">*</span></label>
        <input required="required" type="text" id="edit-submitted-title-layout-redeemable" name="submitted[title_layout][redeemable]" value="" size="60" maxlength="128" class="form-text required form-autocomplete" autocomplete="OFF" aria-autocomplete="list"><input type="hidden" id="edit-submitted-title-layout-redeemable-autocomplete" value="http://int.uphe.com/node/rautocomplete" class="autocomplete autocomplete-processed">
        <span class="element-invisible" aria-live="assertive" id="edit-submitted-title-layout-redeemable-autocomplete-aria-live"></span>
      </div>
      <div class="form-item webform-component webform-component-textfield webform-component--title-layout--authorization-code webform-conditional-hidden" style="display: none;">
        <label for="edit-submitted-title-layout-authorization-code">Authorization Code </label>
        <input type="text" id="edit-submitted-title-layout-authorization-code" name="submitted[title_layout][authorization_code]" value="" size="60" maxlength="128" class="form-text webform-conditional-disabled" disabled="">
      </div>
    </div>
    <div class="webform-layout-box horiz webform-component--subject-layout">
      <div class="form-item webform-component webform-component-textfield webform-component--subject-layout--subject">
        <label for="edit-submitted-subject-layout-subject">Subject </label>
        <input type="text" id="edit-submitted-subject-layout-subject" name="submitted[subject_layout][subject]" value="" size="60" maxlength="128" class="form-text">
      </div>
      <div class="form-item webform-component webform-component-select webform-component--subject-layout--country" style="display: inline-block;">
        <label for="edit-submitted-subject-layout-country">Country <span class="form-required" title="This field is required.">*</span></label>
        <select required="required" class="chosen-enable form-select required chosen-processed" id="edit-submitted-subject-layout-country" name="submitted[subject_layout][country]" style="display: none;">
          <option value="" selected="selected">- Select -</option>
          <option value="10">USA</option>
          <option value="39">Canada</option>
          <option value="111">UK</option>
          <option value="101">OTHER</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-enable form-select required chosen-processed chosen-container-single-nosearch" style="width: 260px;" title="" id="edit_submitted_subject_layout_country_chosen">
          <a class="chosen-single" tabindex="-1">
            <span>- Select -</span>
            <div><b></b></div>
          </a>
          <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
            <ul class="chosen-results"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="form-item webform-component webform-component-textarea webform-component--comments-or-questions" style="display: block;">
      <label for="edit-submitted-comments-or-questions">Comments or Questions </label>
      <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
        <textarea id="edit-submitted-comments-or-questions" name="submitted[comments_or_questions]" cols="60" rows="5" class="form-textarea"></textarea>
        <div class="grippie"></div>
      </div>
    </div>
    <input type="hidden" name="details[sid]">
    <input type="hidden" name="details[page_num]" value="1">
    <input type="hidden" name="details[page_count]" value="1">
    <input type="hidden" name="details[finished]" value="0">
    <input type="hidden" name="form_build_id" value="form-2GC6VQpDLF8XA6a4OXfk_cCJ4xWsRu_w_KmSRyOvOD8">
    <input type="hidden" name="form_token" value="UaW6FmTedGlHvUyRifw8iTwtg5fwBvAoi4F6gC__p1E">
    <input type="hidden" name="form_id" value="webform_client_form_12586">
    <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Submit"></div>
  </div>
</form>
