{{# 02_global_footer_prefix }}
  {{> 03-templates/system/region(02_global_footer_prefix\?: true) }}
{{/ 02_global_footer_prefix }}
{{# 02_global_footer_main }}
  {{> 03-templates/system/region(02_global_footer_main\?: true) }}
{{/ 02_global_footer_main }}
{{# 02_global_footer_suffix }}
  {{> 03-templates/system/region(02_global_footer_suffix\?: true) }}
{{/ 02_global_footer_suffix }}
