<div class="field-collection-container clearfix">
  <div class="field-collection-view clearfix">
    <fieldset class="form-wrapper">
      <div class="fieldset-wrapper">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="http://placehold.it/728x91/FF0000/FFFFFF&text=728x90" media="(min-width: {{bp_md}}px)"> {{! for some reason breaks when i use 728x 90 in dimensions part of url...so using text field to show this}}
          <source srcset="http://placehold.it/300x60/3279f2/FFFFFF" media="(min-width: {{bp_sm}}px)">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="http://placehold.it/728x90/3279f2/FFFFFF&text=nopictureelsadface" alt="placeholder fun!">
        </picture>
      </div>
    </fieldset>
  </div>
</div>
