<article id="node-" class="node node-post clearfix" role="article">
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <p><em>Lorem ipsum dolor</em> sit amet, consectetur adipiscing elit. Etiam molestie lectus et tempor semper. <a href="#">Etiam hendrerit scelerisque erat</a>, eget ornare est pulvinar ac. Etiam in erat id risus sollicitudin dignissim. Etiam ornare quis urna ut fringilla. Suspendisse facilisis nulla purus, eget mollis nibh scelerisque sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas at libero vitae gravida. Duis hendrerit rutrum pulvinar. Curabitur ipsum metus, mattis a ante quis, vestibulum malesuada urna. Sed posuere libero euismod erat ultricies, in maximus nunc sodales. Quisque hendrerit arcu a magna pretium convallis. Integer iaculis iaculis magna in dignissim.</p>
          <p>Phasellus suscipit, lorem ut pretium ultrices, lacus ex vulputate nulla, vitae mollis turpis nunc id magna. Duis in augue sit amet urna condimentum congue non vitae elit. <strong>Nam facilisis, quam sed scelerisque cursus</strong>, tortor risus efficitur ipsum, ullamcorper ornare massa metus vel nisi. Curabitur a placerat velit. Etiam dignissim sapien sed nulla pretium, vel accumsan justo vehicula. Nulla in ultricies massa. Praesent nulla libero, blandit eu nisi et, varius eleifend augue. Maecenas congue nibh ac vulputate ultricies. Suspendisse bibendum urna et egestas pretium. Cras bibendum, justo in cursus vestibulum, justo nisi interdum lorem, a pharetra lectus purus vulputate neque. Curabitur sed tempus urna, aliquet pretium magna. Ut ultricies ac ligula ut finibus.</p>
          <p>Nulla facilisi. Donec eget odio enim. Aliquam volutpat ornare est, at auctor urna. Mauris vehicula, odio et sollicitudin sagittis, nibh elit congue leo, at consectetur urna urna nec tortor. Pellentesque mollis tincidunt sem, id fermentum libero mattis vitae. Duis pulvinar dignissim pellentesque. Sed finibus euismod odio sed posuere. Praesent vitae lacus quis nibh ullamcorper suscipit in eget odio. Nam lobortis purus sem, vitae molestie est pharetra sit amet. Nullam sit amet neque ac lectus posuere mattis. Suspendisse enim lorem, eleifend nec urna sit amet, commodo finibus sapien. Sed lacinia, nunc in feugiat vehicula, purus odio accumsan arcu, vitae dapibus eros velit nec magna. Ut et neque lorem. Aliquam mi felis, aliquam a lacinia sed, accumsan sit amet sapien. Donec quam orci, sodales et urna maximus, suscipit hendrerit turpis. Pellentesque gravida turpis sit amet tortor sollicitudin, sit amet luctus tortor vestibulum.</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel mauris libero. Integer sit amet dolor volutpat, tincidunt enim ut, vestibulum leo. Maecenas sed varius dui. Integer ullamcorper nisi non dui finibus varius. Integer et convallis ipsum, id faucibus arcu. In sed efficitur mi.</p>
        </div>
      </div>
    </div>
  </div>
</article>
