<div class="item-list">
  <ul>
    {{# title_formats }}
      <li class="{{# format_first }}first{{/ format_first }} {{# format_last }}last{{/ format_last }}">{{ title_format }}</li>
    {{/ title_formats }}
  </ul>
</div>
