<ul class="titles-filter-tags">
  <li><a href="#">Western<span class="icon-close"></span></a></li>
  <li><a href="#">Lorem ipsum longeeeer text<span class="icon-close"></a></span></li>
  <li><a href="#">Western<span class="icon-close"></span></a></li>
  <li><a href="#">Lorem ipsum<span class="icon-close"></a></span></li>
  <li><a href="#">Western<span class="icon-close"></span></a></li>
  <li><a href="#">Lorem ipsum kind of text<span class="icon-close"></a></span></li>
  <li><a href="#">Comedy<span class="icon-close"></span></a></li>
  <li><a href="#">Lorem ipsum Adventure<span class="icon-close"></a></span></li>
  <li><a href="#">Animated<span class="icon-close"></span></a></li>
  <li><a href="#">Lorem ipsum<span class="icon-close"></a></span></li>
</ul>
