<div id="identity-ui--logged-out" class="identity-ui">
  <div class="identity-ui__lock">
    <div class="content icon-unlocked">
      <div class="circle"></div>
      <div class="rect"></div>
    </div>
  </div>
  <div class="identity-ui__left">
    <div class="content">
      Unlock access to exclusive content throughout the site.
    </div>
  </div>
  <div class="identity-ui__right">
    <div class="content">
      <a href="#">Sign In</a>&nbsp; / &nbsp;<a href="#">Register</a>
    </div>
  </div>
</div>

<div id="identity-ui--logged-in" class="identity-ui">
  <div class="identity-ui__left">
    <div class="content">
      Welcome!
    </div>
  </div>
  <div class="identity-ui__right">
    <div class="content">
      <div class="menu-toggle">
        <span class="firstname">Firstname</span><span class="icon-arrow-down"></span>
      </div>
      {{> 02-organisms/00-global/_00-header~main-menu(header_discover_submenu\?: true, header_user_menu\?: true) }}
    </div>
  </div>
</div>
