<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
  <div id="file-46" class="file file-mpx-video-1 file-video-mpx contextual-links-region">
    <div class="content">
      <div class="fluid-video">
        <iframe src="//localhost.localdomain/p/frKfDC/plVzaHXBdCJG/embed/select/oKC0BKIBNoJG?autoPlay=true&form=html" frameborder="0" allowfullscreen="" id="pdk-player">Your browser does not support iframes.</iframe>
      </div>
      <div class="field field-name-field-use-title field-type-entityreference field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <a href="#">More Info</a>
          </div>
        </div>
      </div>
      <div class="field field-name-field-mpx-title field-type-text">
        <div class="field-items">
          <div class="field-item even">Perfect 2</div>
        </div>
      </div>
      <div class="field field-name-field-mpx-description field-type-text-long">
        <div class="field-items">
          <div class="field-item even">Official Trailer</div>
        </div>
      </div> 
    </div>
  </div>
</div>
