{{# panels_pane__section_prefix? }}
  {{{ panels_pane__section_prefix }}}
{{/ panels_pane__section_prefix? }}
<section class="{{ panels_pane__section_classes }} {{ panels_pane__section_unique_class }}" {{{ panels_pane__section_id }}}>
  {{# panels_pane__section_header? }}
    <header>
      {{# panels_pane__admin_links? }}
        {{{ panels_pane__admin_links }}}
      {{/ panels_pane__admin_links? }}

      {{{ panels_pane__section_title_prefix }}}
      {{# panels_pane__section_title? }}
        <h2{{{ panels_pane__section_title_attributes }}}>{{{ panels_pane__section_title }}}</h2>
      {{/ panels_pane__section_title? }}
      {{{ panels_pane__section_title_suffix }}}
    </header>
  {{/ panels_pane__section_header? }}
