{{> 03-templates/panes/__panels-pane-prefix.mustache }}

  {{# 03_panels_panel_pane? }}
    {{{ template_content }}}
  {{/ 03_panels_panel_pane? }}


  {{# 02_offers_panel_top_social? }}
    {{> 03-templates/_nosync/field/_field~stay-connected }}
  {{/ 02_offers_panel_top_social? }}
  {{# 02_offers_panel_top_subheading? }}
    {{> 03-templates/field/field(02_offers_panel_top_subheading\?: true) }}
  {{/ 02_offers_panel_top_subheading? }}
  {{# 02_offers_panel_top_body? }}
    {{> 03-templates/field/field(02_offers_panel_top_body\?: true) }}
  {{/ 02_offers_panel_top_body? }}
  {{# 02_offers_panel_col? }}
    {{> 03-templates/queues/_queues--offer(02_offers_panel_col\?: true) }}
  {{/ 02_offers_panel_col? }}
  {{# 02_offers_panel_hero? }}
    {{> 03-templates/_nosync/panes/_panels-pane~fieldable(02_offers_panel_hero\?: true) }}
  {{/ 02_offers_panel_hero? }}
  {{# 02_offers_panel_bottom? }}
    {{> 03-templates/queues/_queues--offer(02_offers_panel_bottom\?: true) }}
  {{/ 02_offers_panel_bottom? }}
  {{# 02_offers_panel_bottom_gridspan_image? }}
    {{> 03-templates/_nosync/panes/_panels-pane~fieldable(02_offers_panel_bottom_gridspan\?: true) }}
  {{/ 02_offers_panel_bottom_gridspan_image? }}
  {{# 02_offers_panel_bottom_gridspan_slides? }}
    {{> 03-templates/queues/_queues--offer(02_offers_panel_bottom_gridspan\?: true) }}
  {{/ 02_offers_panel_bottom_gridspan_slides? }}
  {{# 02_offers_panel_bottom_2? }}
    {{> 03-templates/queues/_queues--offer(02_offers_panel_bottom_2\?: true) }}
  {{/ 02_offers_panel_bottom_2? }}


  {{# 04_error_404? }}
    {{> 03-templates/_nosync/panes/panels-pane--aside(04_error_404\?: true, panels_pane__aside_unique_class: "aurora-layout-main-row") }}
    {{# media_strip_recent_videos }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(media_strip_recent_videos\?: true, panels_pane__aside_unique_class: "aurora-layout-main-row") }}
    {{/ media_strip_recent_videos }}
    {{# available_now }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(titles_strip_available_now\?: true, panels_pane__aside_unique_class: "aurora-layout-2") }}
    {{/ available_now }}
    {{# favorites }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(favorites_and_social\?: true, panels_pane__aside_unique_class: "panels-section-row-inside-first aurora-layout-3") }}
    {{/ favorites }}
  {{/ 04_error_404? }}


  {{# 04_homepage? }}
    {{# dynamic_leads }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(dynamic_leads\?: true) }}
    {{/ dynamic_leads }}
    {{# media_strip_recent_videos }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(media_strip_recent_videos\?: true) }}
    {{/ media_strip_recent_videos }}
    {{# titles_strip_available_now }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(titles_strip_available_now\?: true) }}
    {{/ titles_strip_available_now }}
    {{# favorites_and_social }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(favorites_and_social\?: true) }}
    {{/ favorites_and_social }}
  {{/ 04_homepage? }}


  {{# 04_social_page_menu? }}
    {{# social_pane }}
      {{> 02-organisms/social/_social-pane~menu }}
    {{/ social_pane }}
  {{/ 04_social_page_menu? }}
  {{# 04_social_page_facebook? }}
    {{> 02-organisms/social/social-facebook }}
  {{/ 04_social_page_facebook? }}
  {{# 04_social_page_twitter? }}
    {{> 02-organisms/social/social-twitter }}
  {{/ 04_social_page_twitter? }}
  {{# 04_social_page_instagram? }}
    {{> 02-organisms/social/social-instagram }}
  {{/ 04_social_page_instagram? }}
  {{# 04_social_page_youtube? }}
    {{> 02-organisms/social/social-youtube }}
  {{/ 04_social_page_youtube? }}
  {{# 04_social_page_google_plus? }}
    {{> 02-organisms/social/social-google-plus }}
  {{/ 04_social_page_google_plus? }}
  {{# 04_social_page_tumblr? }}
    {{> 02-organisms/social/social-tumblr }}
  {{/ 04_social_page_tumblr? }}
  {{# 04_social_page_social_poll? }}
    {{> 03-templates/views/views-view(social_poll\?: true) }}
  {{/ 04_social_page_social_poll? }}  
  {{# 04_social_page_social_freeform? }}
    {{> 03-templates/views/views-view(social_freeform\?: true) }}
  {{/ 04_social_page_social_freeform? }}
  {{# 04_social_page_social_quiz? }}
    {{> 03-templates/views/views-view(social_quiz\?: true) }}
  {{/ 04_social_page_social_quiz? }}


  {{# 04_title_detail? }}
    {{# title_top_iconic }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(title_top_iconic\?: true) }}
    {{/ title_top_iconic }}
    {{# title_media_full_width }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(title_media_full_width\?: true) }}
    {{/ title_media_full_width }}
    {{# title_info_column_left }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(title_info_column_left\?: true) }}
    {{/ title_info_column_left }}
    {{# title_info_column_right }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(title_info_column_right\?: true) }}
    {{/ title_info_column_right }}
    {{# title_bottom_full_width }}
      {{> 03-templates/_nosync/panes/panels-pane--aside(title_bottom_full_width\?: true) }}
    {{/ title_bottom_full_width }}
  {{/ 04_title_detail? }}


  {{# 04_titles_listing_landing? }}
    {{> 03-templates/panes/panels-pane--section(04_titles_listing\?: true) }}
  {{/ 04_titles_listing_landing? }}


  {{# 04_video_page? }}
    {{> 03-templates/_nosync/panes/_panels-pane--section~video-player }}
    {{# featured_videos }}
      {{> 03-templates/_nosync/panes/_panels-pane--section~media-strip~featured-videos }}
    {{/ featured_videos }}
    {{# recent_videos }}
      {{> 03-templates/_nosync/panes/_panels-pane--section~recent-videos }}
    {{/ recent_videos }}
  {{/ 04_video_page? }}


{{> 03-templates/panes/__panels-pane-suffix.mustache }}
