{{> 03-templates/field/__field-prefix.mustache }}

  {{# 03_fields_field? }}
    {{> 03-templates/field/__field-item-prefix.mustache }}
    {{{ template_content }}}
    {{> 03-templates/field/__field-item-suffix.mustache }}
  {{/ 03_fields_field? }}



  {{!///////////////////////////////////////////////////////////////////////////
  /// OFFERS PAGE START //////////////////////////////////////////////////////}}

  {{# 02_offers_panel_top_subheading? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 02-organisms/offers/_offers-panel-top~subheading }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ 02_offers_panel_top_subheading? }}

  {{# 02_offers_panel_top_body? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 02-organisms/offers/_offers-panel-top~body }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ 02_offers_panel_top_body? }}

  {{# 02_offers_panel_hero? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 03-templates/file/_file--image--offer-610x400-hero }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ 02_offers_panel_hero? }}

  {{# 02_offers_panel_bottom_gridspan? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 03-templates/file/_file--image--offer-610x400-hero }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ 02_offers_panel_bottom_gridspan? }}

  {{# 02_offers_panel_bottom_field_collection? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 03-templates/field/_field--field-format-image-2d }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ 02_offers_panel_bottom_field_collection? }}

  {{# 02_offers_panel_col_field_collection? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 03-templates/field/_field--field-format-image-2d }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ 02_offers_panel_col_field_collection? }}

  {{! OFFERS PAGE END //////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



  {{!///////////////////////////////////////////////////////////////////////////
  /// TITLE DETAIL START /////////////////////////////////////////////////////}}

  {{# number_of_discs? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{ number_of_discs }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ number_of_discs? }}

  {{# seasons? }}
    {{# field_seasons }}
      {{> 03-templates/field/__field-item-prefix }}
      {{> 02-organisms/sliders/_titles-strip~slider }}
      {{> 03-templates/field/__field-item-suffix }}
    {{/ field_seasons }}
  {{/ seasons? }}

  {{# sequels? }}
    {{# field_sequels }}
      {{> 03-templates/field/__field-item-prefix }}
      {{> 02-organisms/sliders/_titles-strip~slider }}
      {{> 03-templates/field/__field-item-suffix }}
    {{/ field_sequels }}
  {{/ sequels? }}

  {{# street_date? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{{ release_date }}}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ street_date? }}

  {{# supplementary_images? }}
    {{# supplementary_images }}
      {{> 03-templates/field/__field-item-prefix }}
      {{> 00-atoms/04-images/linked-image }}
      {{> 03-templates/field/__field-item-suffix }}
    {{/ supplementary_images }}
  {{/ supplementary_images? }}

  {{# title_cast_crew? }}
    {{# field_collection_item_field_people }}
      {{# field_people }}
        {{> 03-templates/field/__field-item-prefix }}
        {{> 03-templates/entity/entity(title_cast_crew_field_collection\?: true) }}
        {{> 03-templates/field/__field-item-suffix }}
      {{/ field_people }}
    {{/ field_collection_item_field_people }}
  {{/ title_cast_crew? }}

  {{# title_cast_crew_field? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{ person }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ title_cast_crew_field? }}

  {{# title_genre? }}
    {{# field_genre }}
      {{> 03-templates/field/__field-item-prefix }}
      {{{ info_heading }}}
      {{{ genre }}}
      {{> 03-templates/field/__field-item-suffix }}
    {{/ field_genre }}
  {{/ title_genre? }}

  {{# title_page_video? }}
    {{> 03-templates/field/__field-item-prefix }}
    {{> 02-organisms/media-players/_title-page-video~plugin }}
    {{> 03-templates/field/__field-item-suffix }}
  {{/ title_page_video? }}

  {{# title_rating? }}
    {{# field_rating }}
      {{> 03-templates/field/__field-item-prefix }}
      {{{ info_heading }}}
      {{ rating }}
      {{> 03-templates/field/__field-item-suffix }}
    {{/ field_rating }}
  {{/ title_rating? }}

  {{! title_synopsis? }}
    {{# field_synopsis }}
      {{> 03-templates/field/__field-item-prefix }}
      {{{ synopsis }}}
      {{> 03-templates/field/__field-item-suffix }}
    {{/ field_synopsis }}
  {{! title_synopsis? }}

  {{! TITLE DETAIL END /////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////}}



{{> 03-templates/field/__field-suffix.mustache }}
